@charset "utf-8";
/* CSS Document */
html, body {width:100%;height:100%;margin:0;font-family:"helveticaneuelight", Arial, Helvetica, sans-serif;padding:0;}
body {width:100%;color:#000;height:100%;margin:0 auto;}
header, hgroup, nav, aside, footer, article{display:block;}
p, h1, h2, h3, h4, h5, h6 {margin:0;padding:0;}
img {border:none;}
.left{float:left;}
.right{float: right;}
.db{display:block !important;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
ul, li {margin:0;padding:0;list-style:none;}
.clear {clear:both;}
a {text-decoration:none;}
a:hover {text-decoration:none;}
.btn-red{float:right;}
.btn-red a{background:#f56f6c;color:#fff;text-transform:uppercase;padding:10px 20px;margin:30px 0 10px 0;display:block;width:150px;text-align:center;border:none;cursor:pointer;}
.btn-red span{display:block;}
.wrapper{width:1010px;margin:0 auto;}
h1.page-title{font-size:32px;text-align:left;}
/*Header*/
header{position:relative;background:#f5f5f5;padding:10px;border-bottom:10px solid #f56f6c;}
header .logo{background:url(../images/lp_images/logo.png) no-repeat 0 0;display:block;text-indent:-9999px;width:259px;height:76px;margin-right:35px;}


nav{margin-left:35px;}
nav ul li{float:left;}
nav ul li a span, div.sign_in a span{display:block;}
div.sign_in img{display:block;}
div.sign_in, nav ul li a, div.sign_in a{display:block;padding:0 10px;color:#5ab7ce;font-size:15px;text-transform:uppercase;text-align:center;font-family:'latoregular', Arial, Helvetica, sans-serif;}



section.body_content{
background: rgba(165,219,254,1);
background: -moz-linear-gradient(top, rgba(165,219,254,1) 0%, rgba(198,242,255,1) 49%, rgba(209,247,255,1) 78%, rgba(213,246,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(165,219,254,1)), color-stop(49%, rgba(198,242,255,1)), color-stop(78%, rgba(209,247,255,1)), color-stop(100%, rgba(213,246,255,1)));
background: -webkit-linear-gradient(top, rgba(165,219,254,1) 0%, rgba(198,242,255,1) 49%, rgba(209,247,255,1) 78%, rgba(213,246,255,1) 100%);
background: -o-linear-gradient(top, rgba(165,219,254,1) 0%, rgba(198,242,255,1) 49%, rgba(209,247,255,1) 78%, rgba(213,246,255,1) 100%);
background: -ms-linear-gradient(top, rgba(165,219,254,1) 0%, rgba(198,242,255,1) 49%, rgba(209,247,255,1) 78%, rgba(213,246,255,1) 100%);
background: linear-gradient(to bottom, rgba(165,219,254,1) 0%, rgba(198,242,255,1) 49%, rgba(209,247,255,1) 78%, rgba(213,246,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5dbfe', endColorstr='#d5f6ff', GradientType=0 );
}
div.inner_container{background:url(../images/lp_images/bg_body.png) no-repeat left bottom;display:block;width:100%;height:685px;}
div.slogan {color:#4f4e4e;font-family:'helveticaneuelight',Arial, Helvetica, sans-serif;  margin: 0 auto;width: 70%; padding-top: 40px;}
div.slogan h1{font-weight:normal;font-size:48px;}
div.slogan span{font-weight:bold;}
div.slogan em{font-size:34px;font-style:normal; }
div.slogan h2{font-size:30px;font-weight:normal;text-align:right;color:#4f4e4e;}
section.admin-bar{background:#5e5e5e;padding:0px 10px;color:#fff;font-size:14px;}
div.user-name{line-height:36px;}
div.active-user-name{line-height:36px;margin:0 10px;}
div.messages{position:relative;margin-right:10px;padding:10px;background:url(../images/lp_images/icon_message.png) no-repeat left center;padding-left:25px;}
div.message-count{position:absolute;top:5px;left:-6px;background:#5ab7ce;padding:2px;font-size:8px;border-radius:10px;}
div.logout a{margin:0;}
footer{background:#f56f6c;color:#fff;font-size:14px;padding:10px;clear:both;}
footer ul.footer-links{margin:25px 0 0 0;float:left;}
footer ul li{float:left;}
footer ul li a{color:#fff;padding:0 10px;}
footer ul li a:hover{text-decoration:underline;}


.popup_block{width:580px !important;padding:20px;}


/*--------------------------------------------------------------about page starts here -----------------------------------------------------*/



	section.about_content{

/*background: rgba(165,219,254,1);

background: -moz-linear-gradient(top, rgba(165,219,254,1) 0%, rgba(198,242,255,1) 49%, rgba(209,247,255,1) 78%, rgba(213,246,255,1) 100%);

background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(165,219,254,1)), color-stop(49%, rgba(198,242,255,1)), color-stop(78%, rgba(209,247,255,1)), color-stop(100%, rgba(213,246,255,1)));

background: -webkit-linear-gradient(top, rgba(165,219,254,1) 0%, rgba(198,242,255,1) 49%, rgba(209,247,255,1) 78%, rgba(213,246,255,1) 100%);

background: -o-linear-gradient(top, rgba(165,219,254,1) 0%, rgba(198,242,255,1) 49%, rgba(209,247,255,1) 78%, rgba(213,246,255,1) 100%);

background: -ms-linear-gradient(top, rgba(165,219,254,1) 0%, rgba(198,242,255,1) 49%, rgba(209,247,255,1) 78%, rgba(213,246,255,1) 100%);

background: linear-gradient(to bottom, rgba(165,219,254,1) 0%, rgba(198,242,255,1) 49%, rgba(209,247,255,1) 78%, rgba(213,246,255,1) 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5dbfe', endColorstr='#d5f6ff', GradientType=0 );*/



/*background-image:url(../images/ab_images/bg_about.png); background-repeat:repeat-x; background-position:left top;*/

background-color:#203a4a;

}



div.inner_container_about{ text-align:center; margin:0px; padding:0px; height:455px;}





section.create_publishing_main{ width:100%; text-align:center; color:#4f4e4e;}



.create_publishing_main h1{ font-family:"helveticaneuelight", Arial, Helvetica, sans-serif; padding:1% 0px 2% 0px; margin:0px; font-size:40px; font-weight:normal;}





.create_publishing_main h1 span{ font-weight:bold;}

.article1_about {width:32%; display:inline-block; padding:1% 0px 2% 0px;}

.article1_about h1{  padding:0px 0px 0px 0px; font-size:30px; font-family:"helveticaneuelight", Arial, Helvetica, sans-serif; }

.article1_about h1 span{font-weight:bold;}



section.about_content1{ /*background-color:#b29e92;*/

background-color:#efe3d1; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; text-align:center; height:595px;

}

.content_article{ margin:0px auto; padding:0px; width:80%; display:block;}

.get_btn{ position:relative; left:-375px; top:-120px; z-index:888; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;}



/*------------------------------------------------about page ends here ------------------------------------------------------------------*/


/*--------------------------------------------------------------our app starts here -----------------------------------------------------*/

		section.our_app_content{ margin:0px; padding:0px; background-color:#f4f4f4; height:683px;}

		

		

		section.our_app_content1{ margin:0px; padding:0px; background-color:#fff; height:599px;}

		

		section.our_app_content2{ margin:0px; padding:0px; background-color:#FFF; }

		section.our_app_content2 .in_our_app_main{ margin:0px; padding:0px;  width:100%;  }

		

		div.inner_container_our_app{ text-align:center; margin:5% 0px 3% 0px; padding:0px; }

		

		

		

		

		

		

		 .app_content_left{margin:0px 0px 0px 0px; padding:0px 0px 0px 12%;  width:36%;  float:left;  }

		

		 .app_content_left h1{margin:0px; padding:10px 0px 3% 0px; line-height:30px; font-weight:normal; color:#777676; font-size:25px; font-family:"helveticaneuelight", Arial, Helvetica, sans-serif; }

		 .app_content_left h1 span{ font-weight:bold;}

		

		

		.in_our_app_main .app_content_right{margin:0px ; padding:0px; display:inline-block;  width:50%; }

		.app_content_right div{ margin-right:10px; float:left; width:200px;}

		.download_btn{ position:relative; left:-40px; top:-320px; z-index:888; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;}

/*--------------------------------------------------------------our app ends here -----------------------------------------------------*/



.budget_input{margin-bottom:10px;}
.budget_input input{margin:0 10px 0 0;width:500px;}

/*.txtAreaContent { font-style:italic; }*/



/*--------------------------------------------------------------web account page starts here ------------------------------------------------*/

	section.webaccount{ background-color:#5e5e5e;}

	section.webaccount2{ background-color:#a7a7a7; padding:20px 0px 20px 0px;}

	section.webaccount3{ padding:0px; margin:-15px 0px 0px 0px; background-color:transparent; }

	section.webaccount4{ padding:0px; margin:-53px 0px 0px 0px; background-image:url(../images/app_accnt_images/bg_nid_body.png); background-repeat:repeat; background-position:left top;  padding-bottom:20px;}

	section.webaccount5{padding:0px; margin:0px 0px 0px 0px;background-image:none; background-color:#FFF;}

	section.webaccount6{padding:0px; margin:0px 0px 0px 0px;background-image:none;background-image:url(../images/app_accnt_images/bg_nid_body.png); background-repeat:repeat; background-position:left top;  padding-bottom:20px;}



 .white_bg{ background-image:none; background-color:#FFF; display:block;}

	

	

	section.webaccount .web_message_bar{ padding:0px; margin:0px auto; width:80%; color:#fff; }

	.web_message_bar aside{width:49%; padding:0px; margin:0px;  display:inline-block;}

	.web_message_bar aside .cnt_bar{font-family:"helveticaneuelight", Arial, Helvetica, sans-serif; font-size:18px; padding:0px 0px; color:#fff; text-transform:uppercase; width:20%;}

	.web_message_bar aside .link_button_bar{padding:0px 0px; color:#fff; }

	.btn_message_div{width:25%; padding:0px; margin:2px 3% 0px 0px; display:inline-block;}

	.btn_email_div{width:40%; padding:0px; margin:0px; display:inline-block; }

	.btn_logout_div{width:27%; padding:0px 0px; margin:0px 0px 0px 0px; display:inline-block; }

	

	

	.btn_message_div .btn_message{ padding:10px 0px 10px 10px; margin:0px; background-color:#525252; display:block; }

	.btn_message_div .btn_message .section_message{ width:29px; height:22px; padding:0px 0px 0px 0px; margin:0px; display:inline-block; background-image:url(../images/app_accnt_images/message_box_blue.png); background-position:center; background-repeat:no-repeat; font-size:12px; font-family:Arial, Helvetica, sans-serif; }

	

	

	

	.btn-red1 a{background:#f56f6c;color:#fff;text-transform:uppercase;padding:10px 20px; margin:2px 0 0px 0!important; display:block; width:100px;text-align:center;border:none;cursor:pointer;}

	

	

	

	.section_message span{ display:block; padding:3px 0px 0px 3px;}

	.btn_message_div .btn_message .content_message{width:50%; padding:0px 0% 0px 5%; margin:0px; display:inline-block;}

	div.active-user-name1{ margin:0px 0px; padding:0px;}

	

	

	

	

	

	section.webaccount2{ background-color:#a7a7a7;}

	section.webaccount2 .web_icon_bar{ padding:0px; margin:0px auto; width:80%; color:#fff;}

	

	.web_icon_bar .main_icon{ padding:0px; margin:0px; width:12%; display:inline-block; text-align:center;}

	

	.main_icon .row1{ padding:0px; margin:0px; }

	.main_icon .row2{ padding:0px; margin:0px;}

	section.webaccount2 .bottom_navigation{ top:0px; left:0px; padding:0px; margin:0px; position:absolute; z-index:1; width:100%; background-color:#00ff00;}

	

	section.webaccount3 .arrow_div{ padding:0px; margin:0px 0px 0px 0px; background-color:transparent; }

	section.webaccount3 .arrow_div .inn_main_arrow{ padding:0px; margin:0px auto; width:80%; }

	section.webaccount3 .arrow_div .inn_main_arrow aside{ display:inline-block; padding:0px 0px 0px 0%; text-align:center; margin:0px auto; width:12%; }

	

	

	

	section.webaccount3 .arrow_nav_div{ padding: 5px 0px 10px; margin:-5px 0px 0px 0px; background-color:#5e5e5e; }

	

	section.webaccount3 .arrow_nav_div .innav_div{ padding:0px; margin:0px auto; width:80%; border:1px solid #ff000;}

	

	.btn_overview_div {

    display: inline-block;

    margin: 0  2%  0  0;

    padding: 0;

    /*width:10%;*/

	}

	

	

	.btn-red2 a {

   	 background: none repeat scroll 0 0 #F56F6C;

   	 border: medium none;

   	 color: #FFFFFF;

   	 cursor: pointer;

   	 display: block;

   	 margin: 2px 0 0 !important;

  	  padding:5px 10px;

    	text-align: center;

    	text-transform: uppercase;

   		 width: 100px;

	}

	

	

	.btn_payment_div {

    display: inline-block;

    margin: 0  2%  0  0;

    padding: 0;

    /*width: 10%;*/

	}

	

	.btn-grey2 a {

   	 background: none repeat scroll 0 0 #a7a7a7;

   	 border: medium none;

   	 color: #FFFFFF;

   	 cursor: pointer;

   	 display: block;

   	 margin: 2px 0 0 !important;

  	  padding:5px 10px;

    	text-align: center;

    	text-transform: uppercase;

   		 width: 100px;

	}

	

	

	.inner_main_content{ padding:0px; margin:0px auto; width:80%;}

	.inner_main_content .content_row1{padding:5% 0px 5% 0px; margin:5% 0px 0px 0px; display:block; }

	.content_row1 aside{ text-align:center; padding:0px 0px 0px 0px; margin:0px 2.3% 0px 0px; width:23%; background-color:#fff; border-radius:5px; display:inline-block;}
.content_row1 aside:last-child{margin-right:0;}
	

	.content_row1 aside h1{font-family:"helveticaneuelight", Arial, Helvetica, sans-serif;font-weight:bold; font-size:24px; padding:10% 0px 10% 0px; margin:0px 0px 0px 0px; text-align:center; color:#262533; }

	

	.content_row1 aside h2{font-family:"helveticaneuelight", Arial, Helvetica, sans-serif; font-weight:normal; font-size:15px; padding:2% 0px 10% 0px; margin:0px 0px 0px 0px; text-align:center; color:#808080;}

	

	.content_row2_graph{padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;  }

	

/*--------------------------------------------------------------web account page ends here ------------------------------------------------*/



/*--------------------------------------------------------------assignments view submission page starts here------------------------------------------------*/

		.btn_assignmen_div

			{

				display: inline-block;

				margin: 0  1%  0  2%;

				padding: 0;

				width:80%;

			}

		

		.btn_assignment_forward

					{

						display:inline-block; margin:0px 0% 0 0; padding:0px 0px 0px 0px; width:10%; 

					}

	.btn_assignmen_div .inner_btn_div{width:95px; padding:0px; margin:0px 1% 0px 0px; display:inline-block;}				

					

	.btn-red_small a {background: none repeat scroll 0 0 #F56F6C; border: medium none; color: #FFFFFF; cursor: pointer; display:block; margin:0px 0 0 !important;	padding:7px 10px;	text-align: center;	text-transform: uppercase; width:70px;

		}



.btn-grey_small a {background: none repeat scroll 0 0 #a7a7a7; border: medium none; color: #FFFFFF; cursor: pointer; display:block; margin:0px 0 0 !important; padding:7px 10px; text-align: center; text-transform: uppercase; width:70px;

	}

	

	.inner_main_content .view_submission{padding:5% 0px 1% 0px; margin:0% 0px 0px 0px; display:block;}

	

	.view_submission .section_brand{padding:0% 0px 0% 0px; margin:0% 0px 0px 0px; display:block; }

	.view_submission .section_brand .article_left{padding:0% 0px 2% 5%; margin:0% 0px 0px 0px; width:55%; float:left; }

	.view_submission .section_brand .article_right{padding:0% 0px 2% 0px; margin:0% 0px 0px 0px; width:30%; float:right; }

	

	.view_submission .section_brand p{padding:0% 0px 0% 0px; margin:0% 0px 0px 4%; display:block; }

	.article_left .red_ball_section{padding:0% 0px 0% 0%; margin:0% 0px 0px 0px; width:15%; text-align:center; float:left; }

	.article_left .content_section_vw_sub {  padding:0% 0px 0% 0%; margin:0% 0px 0px 1%; width:82%; float:left;   }

	.content_section_vw_sub h1 { font-family: Helvetica,"helveticaneuelight", Arial, sans-serif; color:#6a6969; font-weight:normal; font-size:39px; padding:0% 0px 0% 0%; margin:0% 0px 0px 0%; width:100%; float:left;  }

	.content_section_vw_sub h2 { font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; color:#6a6969; font-weight:normal; font-size:15px; padding:0% 0px 0% 0%; margin:0% 0px 0px 0%; width:100%; float:left;   }

	.content_section_vw_sub h3 { font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; color:#6a6969; font-weight:bold; font-size:15px; padding:0% 0px 0% 0%; margin:0% 0px 0px 0%; width:100%; float:left; }

	.content_section_vw_sub h4 { font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; color:#5ab7ce; font-weight:normal; font-size:15px; padding:0% 0px 0% 0%; margin:0% 0px 0px 0%; width:100%; float:left;   }

	

	.view_submission .section_brand .article_right{padding:0% 0px 2% 0px; margin:0% 5% 0px 0px; width:30%; float:right; text-align:right; }

	

	.article_right .grey_btn_big{padding:0% 0px 0% 0px; margin:0% 0% 5% 0px; float:right; text-align:center; }

	

.article_right .grey_btn_big a {background: none repeat scroll 0 0 #b4b4b4; border:medium none; color: #FFFFFF; cursor:pointer; display:block; margin:0px 0 0 !important; padding:10px 10px; text-align: center; text-transform:uppercase; width:150px;

	}

	

	.article_right h1{font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; color:#5ab7ce; font-weight:bold; font-size:22px;  padding:0% 0px 0% 0px; margin:0% 0% 1% 0px; width:100%; float:right; text-align:right;  }

	

	

	

	

	.view_submission .section_paging_and_brands{width:94%; padding:2% 0px 2% 0px; margin:1% 0px 0px 0px; display:block;  }

	

	.view_submission .section_paging_and_brands .paging_bar{  padding:0% 0px 0% 0px; margin:0% 0px 0px 0px; display:block;   float:right; width:30%; }

	.page-padds{ padding:20px 0px 0px 0px; margin:0px 0px 0px 0px;  }

	.paging_bar .section_numbering{  padding:0% 0px 0% 10%; margin:0% 0px 0px 0px; display:inline-block;  width:65%;  text-align:right;  }

	.paging_bar .section_numbering_1{  padding:0% 0px 0% 10%; margin:0% 0px 0px 0px; display:inline-block;  width:71%;  text-align:right;  }

	.paging_bar .section_numbering_1 span{ color:#828282; padding:0% 0px 0% 0%; margin:0% 0px 0px 0px;}

	.paging_bar .section_numbering_1 span:hover{ color:#fb5248; padding:0% 0px 0% 0%; margin:0% 0px 0px 0px; cursor:pointer;}


	.paging_bar .section_numbering span{ color:#828282; padding:0% 0px 0% 0%; margin:0% 0px 0px 0px;}

	.paging_bar .section_numbering span:hover{ color:#fb5248; padding:0% 0px 0% 0%; margin:0% 0px 0px 0px; cursor:pointer;}

	.fix_red{ color:#fb5248; }

	.fix_grey{color: #828282;}



	.paging_bar .section_arrow_left{  padding:0% 0px 0% 0px; margin:0% 0px 0px 0px; display:inline-block;  }

	

	.paging_bar .section_arrow_right{ padding:0% 0px 0% 0px; margin:0% 0px 0px 0px; display:inline-block;   }

	

	

	

	

	.view_submission .section_list_brands{  padding:0% 0px 0% 5%; margin:1% 0px 1% 0px; display:block; vertical-align:text-top;  }

	

	

	.section_list_brands .box_list_view_sub{ padding:10px; margin:0% 4% 4% 0px; display:inline-block; background-color:#CCC; border-radius:5px; }

	.box_list_view_sub .inner_box_view_sub{ padding:0px; margin:0% 0% 0% 0px; display:inline-block; background-color:#9b9b9b; border-radius:0px 0px 5px 5px; }

	

	.inner_box_view_sub .top_bar{ padding:5px; margin:0% 0% 0% 0px;   display:block; background-color:#6c6c6c;  }

	

	.inner_box_view_sub .mid_bar{ margin:0% 0% 0% 0px;  display:block; height:100px; }

	

	

	.inner_box_view_sub .top_bar .headi_vw_sub{ font-family:Verdana, Geneva, sans-serif; color:#fff; font-size:11px; padding:0px; margin:0% 0% 0% 0px; width:150px; display:inline-block;   color:#fff;   }

	

	.inner_box_view_sub .top_bar .star_vw_sub{ padding:0px; margin:0% 0% 0% 0px;  display:inline-block;  }

/*-----------------------------------------------------assignments view submission page ends here --------------------------------------------*/



/*-------------------------------------------------assignments singlesubmission page starts here --------------------------------------------*/

	.single_submission{  padding:0% 0px 0% 5%; margin:0% 0px 0% 0px; display:block; vertical-align:text-top; }

	.single_submission .sng_sub_top_section{  padding:0% 0px 0% 0%; margin:0% 0px 0% 0px; display:inline-block; vertical-align:text-top;  }

	

	

	.single_submission .sng_sub_left_section{width:40%;  padding:0% 0px 0% 0%; margin:0% 0px 0% 0px; display:inline-block; vertical-align:text-top;  }

	

	

	

	.single_submission .sng_sub_right_section{width:56%;  padding:0% 0px 0% 0%; margin:0% 0px 3% 0px; display:inline-block; vertical-align:text-top;  }

	

	

	.single_submission .sng_sub_left_section .main_demonstration{ padding:0% 0px 0% 0%; margin:0% 0px 4% 0px; display:block;}

	.main_demonstration .left_demonstration{ font-weight:normal; font-family:Verdana, Geneva, sans-serif; color:#959595; font-size:14px; padding:0% 0px 0% 0%; margin:0% 0% 0% 0px; display:inline-block; width:35%; text-align:left;}

	.main_demonstration .right_demonstration{ font-weight:normal; font-family:Verdana, Geneva, sans-serif; color:#959595; font-size:14px;padding:0% 0px 0% 0%; margin:0% 0px 0% 0px; display:inline-block;  width:35%; text-align:left;}

	

	.sk_blue{ color:#5ab7ce;}

	

	.single_submission .sng_sub_left_section .main_demonstration h1{ padding:0% 0px 0% 0%; color:#959595; margin:0% 0px 0% 0px;font-weight:normal; font-family:Verdana, Geneva, sans-serif; font-size:15px; display:block; }

	.single_submission .sng_sub_left_section .main_demonstration .section_btn{ padding:0% 0px 0% 0%; color:#959595; margin:0% 0px 0% 0px; display:block;}



/*-----------------------------------------------------assignments view submission page ends here --------------------------------------------*/


/*-----------------------------------------------------assignments view submission page ends here --------------------------------------------*/



/* Payment Pgge by Sudhakar*/

.payment_tbl tr th{ color:#b4b4b4; height:55px; text-align:left;}

.payment_tbl tr td{ color:#565656; background:#FFFFFF; height:80px; border-bottom:8px #eaeaea solid; text-align:left;}

.payment_tbl tr th:last-child{ text-align:center}

.payment_tbl tr td:last-child{ text-align:right; vertical-align:middle; padding:5px 10px;}

.payment_tbl tr th:first-child{ padding-left:20px}

.payment_tbl tr td:first-child{ padding-left:20px}



/*Order Summary*/

.order_summary_hd{ display:block; margin:0px 0px 20px 10px; font-size:20px; color:#666666;}

.order_summary_left_section{ display:block; float:left; width:70%; height:auto; background:url(../images/v_line.png) no-repeat bottom right;}

.order_summary_left_section tr th{ background:#dddddd; font-size:16px; color:#8a8a8a; height:30px; padding:5px;}

.order_summary_left_section tr{ background:#ededed; font-size:12px; color:#8a8a8a;}

.order_summary_left_section tr td{padding:10px 10px 5px; vertical-align:top; line-height:16px;}

.os_subtotal td{ border-top:2px solid #dddddd;  border-bottom:2px solid #dddddd; padding:10px; font-size:16px;}

.os_gap td{ padding:30px 0px;}

.os_total td{padding:10px; font-size:16px; background:#dddddd;}



.order_summary_right_section{ display:block; float:left; width:30%; height:auto}



.pay_pal{display:block; margin-bottom:40px; text-align:center;}

.os_login{ display:block; width:80%; height: auto; border:4px solid #cbdcfe; margin:10px auto; padding:10px; background:url(../images/login_box_bg.png) repeat-x bottom;}

.login_btn{ width:56px; height:23px; background:url(../images/login_btn.png) no-repeat center; border:0px; margin:5px 0px;}

.login_txt{ width:100%; height:20px; border:1px solid #4874a4}

.login_email{ display:block; margin:10px 0px 10px 0px;}

.login_pass{ display:block; margin:0px 0px 10px 0px;}

.forgot_email_password{ display:block; margin:0px 0px 5px 0px;}

.forgot_email_password a{ color:#4874a4;}



/*-------------  updated at oct 28 2013 by mandeep fro licensed media p[age ---------- */
.article_right  .grey_btn_big p{padding:0% 0px 0% 0px; margin:0% 0% 5% 0px; float:right; text-align:center; font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; color:#000; font-weight:bold; font-size:20px}

.inner_box_view_sub .top_bar .headi_vw_sub_1{ font-family:Verdana, Geneva, sans-serif; color:#fff; font-size:11px; padding:5%; margin:0% 0% 0% 0px; width:150px; display:inline-block;   color:#fff;   }


/*-------------  updated at oct 29 2013 by mandeep fro licensed media p[age ---------- */

		.webaccount5 .content_box_mid{ padding:1% 0px 1% 4%; margin:0px auto; width:74%;}



		.content_box_mid .main_content_left{ padding:0px; margin:0px; width:75%; display:inline-block;}

		.content_box_mid .main_content_right{ padding:0px; margin:0px 4% 0px 0px; width:20%; display:inline-block;  color:#color:#5ab7ce; text-align:right;}

						.main_content_right a{ padding:0px; margin:0px; color:#5ab7ce;font-size:20px; font-weight:bold; text-decoration:none;  }

						.main_content_right a:hover{ padding:0px; margin:0px; color:#5ab7ce;font-size:20px; font-weight:bold; text-decoration:underline;  }

			

			

			.main_content_left h1{padding:0px; margin:0px; width:100%;font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; color:#6a6a6a; font-weight:bold; font-size:18px}

			

			.content_box_mid .content_flow{ padding:1% 0px 0% 0px; margin:0px; width:100%; }

			.content_box_mid .content_flow h1{ padding:1% 0px 1% 0px; margin:0px; width:100%; font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; color:#838383; font-size:14px;  }

			.content_box_mid .content_flow p{ padding:1% 0px 0% 0px; margin:0px; width:95%; font-family:Arial, sans-serif; color:#676767; font-size:14px; line-height:21px; }

			.content_box_mid .content_flow h2{ padding:2% 0px 0% 0px; margin:0px; width:100%; font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; color:#585858; font-size:18px; font-weight:bold;  }

			.content_box_mid .content_flow h3{ padding:4% 0px 1% 0px; margin:0px; width:100%; font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; color:#585858; font-size:20px; font-weight:bold;  }

			.content_box_mid .content_flow span{ font-style:italic; font-weight:bold; font-size:12px;}

			

			

						.content_flow p a{ padding:0px; margin:0px; color:#5ab7ce;font-size:20px; font-weight:bold; text-decoration:none;  }

						.content_flow p a:hover{ padding:0px; margin:0px; color:#5ab7ce;font-size:20px; font-weight:bold; text-decoration:underline;  }


/* ------------------- updated home page --------------------  */
.div_home_big{margin:0px; padding:0px;position:relative; z-index:0; top:0;}
.div_home_big .content_btn{margin:0px; padding:0px; position:absolute; right:5%; top:33%; z-index:11;}

/* note : line 101 and 127 ( need to remove height if we require 100% images of about us and our app)  */


/* -----------------------  static pages -----------------  */
.content_box_mid .content_static{ padding:1% 0px 0% 0px; margin:0px; width:100%; }

.content_box_mid .content_static h1{ padding:1% 0px 1% 0px; margin:0px; width:100%; font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; color:#838383; font-size:14px;  }

.content_box_mid .content_static p{ padding:1% 0px 0% 0px; margin:0px; width:95%; font-family:Arial, sans-serif; color:#676767; font-size:14px; line-height:21px; }

.content_box_mid .content_static h2{ padding:2% 0px 0% 0px; margin:0px; width:100%; font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; color:#585858; font-size:18px; font-weight:bold;  }

.content_box_mid .content_static h3{ padding:4% 0px 1% 0px; margin:0px; width:100%; font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; color:#585858; font-size:20px; font-weight:bold;  }

.content_box_mid .content_static span{ font-style:italic; font-weight:bold; font-size:12px;}

.content_static p a{ padding:0px; margin:0px; color:#5ab7ce;font-size:14px; text-decoration:none;  }

.content_static p a:hover{ padding:0px; margin:0px; color:#5ab7ce;font-size:14px; text-decoration:underline;  }


/*--------------------------------------------------------------New about page starts here -----------------------------------------------------*/



		section.about_content_nw{



/*background: rgba(165,219,254,1);



background: -moz-linear-gradient(top, rgba(165,219,254,1) 0%, rgba(198,242,255,1) 49%, rgba(209,247,255,1) 78%, rgba(213,246,255,1) 100%);



background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(165,219,254,1)), color-stop(49%, rgba(198,242,255,1)), color-stop(78%, rgba(209,247,255,1)), color-stop(100%, rgba(213,246,255,1)));



background: -webkit-linear-gradient(top, rgba(165,219,254,1) 0%, rgba(198,242,255,1) 49%, rgba(209,247,255,1) 78%, rgba(213,246,255,1) 100%);



background: -o-linear-gradient(top, rgba(165,219,254,1) 0%, rgba(198,242,255,1) 49%, rgba(209,247,255,1) 78%, rgba(213,246,255,1) 100%);



background: -ms-linear-gradient(top, rgba(165,219,254,1) 0%, rgba(198,242,255,1) 49%, rgba(209,247,255,1) 78%, rgba(213,246,255,1) 100%);



background: linear-gradient(to bottom, rgba(165,219,254,1) 0%, rgba(198,242,255,1) 49%, rgba(209,247,255,1) 78%, rgba(213,246,255,1) 100%);



filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5dbfe', endColorstr='#d5f6ff', GradientType=0 );*/







/*background-image:url(../images/ab_images/bg_about.png); background-repeat:repeat-x; background-position:left top;*/



 background-color:#ffffff;



}



div.inner_container_nw{ text-align:center; margin:0px; padding:0px; }



div.inner_container_nw .rw_crousel{ text-align:center; margin:0px; padding:40px 0px 0px 0px; height:100%; }

div.inner_container_nw .rw_nw_btn{ text-align:center; margin:0px 0px; padding:10px 0px 30px 0px; }

.btn_getstarted_div{ padding:0px 0px; margin:0px 0px 0px 0px; display:inline-block; }

	.btn-red_2 a{background:#f56f6c;color:#fff;text-transform:uppercase;padding:10px 20px; margin:2px 0 0px 0!important; display:block; text-align:center;border:none;cursor:pointer;}





/*#slide {width:100%; height:100%; overflow:hidden; z-index:777;margin:0 auto; position:relative;  float:left; }

.slider {width:96%;  height:99%; overflow:hidden;  position:relative; margin:0 auto; background-image:url(../images/header-bt_10.jpg); background-repeat:repeat-x; padding:5px 0px 0px 0px; }

.slider img{ width:100%; height:100%;}

.items { display:none;}



.pagination { position:absolute; bottom:0px; left:25px; display:inline-block; z-index:111;}

.pagination li {float:left; margin-right:10px; position:relative; list-style:none;	}

.pagination li a { display:inline-block; width:35px; height:36px; background:url(../images/pagination.png) right 0 no-repeat;}

.pagination li.current a, .pagination li:hover a { background:url(../images/pagination.png) 0 0 no-repeat;}*/



/*--------------------------------------------------------------New about page ends here -----------------------------------------------------*/



/*--------------------------------------------------------------Web page profile starts here -----------------------------------------------------*/

	section.webaccount9{padding:0px; margin:0px 0px 0px 0px;background-image:none; background-color:#FFF;}

	

	.inner_content_web_profile{ padding:0px; margin:0px auto; width:75%;}



	.inner_content_web_profile .row_web_profile{width:69%; padding:1% 0px 1% 4%; margin:0% 0px 1% 0px; display:inline-block; }

	

		/*.inner_content_web_profile .web_profile{padding:1% 0px 1% 0px; margin:1% 0px 1% 0px; display:block; border:1px solid #ff0000;}*/

		

		

		

		 .left_wb_profile{ vertical-align:top; padding:0% 0px 0% 0%; width:73%; margin:0% 0px 2% 0px; display:inline-block;  }

		

		.left_wb_profile h1{ text-transform:uppercase; font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; color:#9e9d9d; font-size:20px; font-weight:bold;width:100%; margin:2% 0px 2% 0px; }

		.lft_section_left{font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; color:#9e9d9d; font-size:14px;  font-weight:normal; display:inline-block; width:30%; }

		

		

		

		 .lft_section_rgt{font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; color:#9e9d9d; font-size:14px;  font-weight:normal; display:inline-block; width:55%; }

		

		

		

		

		

		

		 .inner_content_web_profile  .right_wb_profile{ vertical-align:top; font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; color:#9e9d9d; font-size:20px; font-weight:bold; padding:0% 0px 0% 0%;  width:25%; margin:0% 0px 0% 0px; display:inline-block; text-align:center;  }

		

		.row_web_profile .right_wb_profile .rwb_prfiile_rw1{padding:0% 0px 0% 0%;  width:100%; margin:0% 0px 0% 0px; display:inline-block; text-align:center;  }



/*--------------------------------------------------------------Web page profile ends here -----------------------------------------------------*/





/*--------------------------------------------------------------Web edit page profile starts here -----------------------------------------------------*/

		.inner_edit_web_profile{ padding:0px 0px 0px 5%; margin:0px auto 2% auto; width:70%; display:block; }

		

		.inner_edit_web_profile .form_part{ vertical-align:top; padding:0px 0px 0px 0%; margin:0px auto 0% auto; width:75%; display:inline-block; }

		

		.inner_edit_web_profile .form_part .row_form{ vertical-align:top; padding:0px 0px 0px 0%; margin:0px; width:90%; display:inline-block; }

		.inner_edit_web_profile .form_part .row_form h1{ text-transform:uppercase; font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; color:#9e9d9d; font-size:20px; font-weight:bold;width:100%; margin:2% 0px 2% 0px;}

		.inner_edit_web_profile .form_part .row_form form{ margin:0px; padding:0px; width:100%;}

		

		.inner_edit_web_profile .form_part .row_form form p{ color:#9e9d9d; margin:0px 0px 2% 0px; padding:0px; width:100%; display:block;  }

		.inner_edit_web_profile .form_part .row_form form div{margin:0px 0px 10% 0px; padding:0px; width:100%; display:block;}

		

		.label{color:#666!important; font-family: "latoregular", Arial, Helvetica, sans-serif;

					font-size:16px; margin:0px; padding:2px 0px 2px 0%; width:24%; display:inline-block; }

		

		

		

		.input {

					

					/*border-radius: 5px;

					-webkit-box-shadow: 2px 2px 1px -2px rgba(0, 0, 0, 0.29));

					-moz-box-shadow: 2px 2px 1px -2px rgba(0, 0, 0, 0.29); box-shadow: 2px 2px 1px -2px rgba(0, 0, 0, 0.29);*/

					font-family: "latoregular", Arial, Helvetica, sans-serif;

					font-size:18px;

					color:#9e9d9d;

					padding:1% 0px 1% 3%;

					background-color:#ededed;

					width:70%;

					border:0px!important;

					border-radius:0px!important;

					-webkit-box-shadow:0px 0px 0px -0px rgba(0, 0, 0, 0.29))!important;

					-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.29); box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.29)!important;

				}

		

		

		

		.inner_edit_web_profile .logo_section{ text-align:center; padding:0px 0px 0px 0%; margin:0px auto 0% auto; width:24%; display:inline-block; }

		.inner_edit_web_profile .logo_section .rw_edit_profile{font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; color:#5ab7ce; text-transform:uppercase; font-size:20px;  text-align:center; padding:0px 0px 0px 0%; margin:2% 0px; width:100%; display:inline-block; }

		
/*--------------------------------------------------------------Web edit page profile ends here -----------------------------------------------------*/


/*--------------------------------------------------------------change password starts here -----------------------------------------------------*/

		/*.inner_main_content .content_row_password{ padding:5% 0px 5% 0px; margin:5% 0px 0px 0px; display:block; }*/

		

		.inner_main_content .content_row_password {width:99%; padding:5% 0px 5% 0px;  display:inline-block;  }

		

		.content_row_password .change_password_box{ background-color:#f0f0f0;  width:70%; padding:2% 5% 2% 5%; margin:1% auto 1% auto; display:block; border:1px solid #e9e9e9; border-radius:3px; }

		.content_row_password .change_password_box .in_change_pass_cnt_box{ margin:0px; padding:0px; width:100%;}

			 .in_change_pass_cnt_box h1{font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; font-weight:bold; color:#9a9999; font-size:60px;   margin:0px 0px 5% 0px; padding:0px 0px 1% 0px; width:98%; border-bottom:1px solid #ccc;}

			 .in_change_pass_cnt_box form{margin:0px; padding:0px; width:100%;}

			.in_change_pass_cnt_box form label{font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; font-weight:bold; color:#9a9999; font-size:27px;   margin:0px 0px 5% 0px; padding:0px 0px 1% 0px; width:98%; border-bottom:1px solid #ccc;}

				.input_1{

					border-radius: 5px;

					-webkit-box-shadow: 2px 2px 1px -2px rgba(0, 0, 0, 0.29));

					-moz-box-shadow: 2px 2px 1px -2px rgba(0, 0, 0, 0.29); box-shadow: 2px 2px 1px -2px rgba(0, 0, 0, 0.29);

					font-family: "latoregular", Arial, Helvetica, sans-serif;

					font-size:18px;

					color:#9e9d9d;

					padding:1% 0px 1% 3%;

					margin:0px 0px 5% 0px;

					width:78%;

					

					-webkit-box-shadow:0px 0px 0px -0px rgba(0, 0, 0, 0.29))!important;

					-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.29); box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.29)!important;

					}

		.btn-red3 a{background:#f56f6c;color:#fff;text-transform:uppercase;padding:10px 20px; margin:2px 0 0px 41%!important;  display:block; width:200px;text-align:center;border:none;cursor:pointer;}

	.pwd_button_diff {
		width:200px;
		height:40px;
		border:none;
		color: #fefefe;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		cursor:pointer;
		background: #f56f6c;
		text-transform:uppercase;
		cursor:pointer;	
		
		}

		.pwd_button_diff:hover {
		background: #cccbcb;
		} 

/*--------------------------------------------------------------change password ends here -----------------------------------------------------*/



/*--------------------------------------------------------------admin panel starts  here -----------------------------------------------------*/

	.btn_message_div1{ padding:0px; margin:2px 3% 1% 1%; display:inline-block;}

	.btn_message_div1 .btn_message1{ padding:10px 10px 10px 10px; margin:0px; background-color:#525252; display:block; }

	.btn_message_div1 .btn_message1 .content_message1{width:50%; text-align:center; padding:0px 0% 0px 0%; margin:2px 0px 0px 0px; display:inline-block; cursor:pointer;}

	

	

	

	section.webaccount11{ background-color:#a7a7a7;}



	section.webaccount11 .web_icon_bar1{ padding:3% 0px; margin:0px auto; width:90%; color:#fff;}



	



	.web_icon_bar1 .main_icon1{ padding:0px 0px 0px 0px; margin:0px 2% 0px 0px;  display:inline-block; text-align:center;}

	.web_icon_bar1 .main_icon1 a{ font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; font-weight:bold; color:#9a9999; font-size:15px; color:#eaeaea; padding:0px; margin:0px;  display:block; text-align:center; text-transform:uppercase;}

	.web_icon_bar1 .main_icon1 a:hover{ text-decoration:none; color:#fff;}

	

	

	

	.inner_main_content .content_row_admin {width:99%; padding:1% 0px 1% 0px; margin:5% 0px 5% 0px; display:inline-block;   }

	.inner_main_content .content_row_admin .adminleft_main{ vertical-align:top; display:inline-block; width:20%; padding:0% 0px 0% 0px; margin:0% 2% 0% 0px;}

	.inner_main_content .content_row_admin .adminleft_main h1{ color:#9e9d9d; display:inline-block; font-weight:normal; padding:0% 0px 0% 0px; margin:0% 2% 0% 0px; }

	.inner_main_content .content_row_admin .adminleft_main .content_nav{margin:0px; padding:5px 0px 5px 0px;}

		.nv_admin_btn{ background-color:#ededed; font-size:14px; border-bottom:2px solid #cacaca; color:#9e9d9d; font-weight:bold; padding:10px 0px 10px 10px;}

	

	.nv_admin_btn_white{ background-color:#fff; font-size:14px; color:#9e9d9d; font-weight:bold; padding:8px 0px 8px 15px;}

	

	

	.inner_main_content .content_row_admin .adminright_main{display:inline-block; width:77%;  padding:0% 0px 0% 0px; margin:0% 0px 0% 0px;}

	.inner_main_content .content_row_admin .adminright_main h1{ font-weight:bold; color:#f56f6c; display:inline-block;   padding:0% 0px 0% 0px; margin:0% 0px 0% 0px; font-size:30px;}

	.inner_main_content .content_row_admin .adminright_main .content_div_admin{padding:0% 0px 0% 0px; margin:1% 0px 1% 0px; width:100%; }

		

		.table_head_borders{ margin:0px; padding:6px 0px; border-top:0.5em solid #e1e1e1; border-bottom:0.5em solid #e1e1e1;}

		.blue_headings{font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; font-weight:bold; color:#5ab7ce; font-size:18px;}

		.table_head_2bg{ margin:0px; padding:0px 0px; background-color:#f9f9f9; line-height:2.5em; }

		

		.head_bold{ margin:0px; padding:0px 0px 0px 5px; color:#cacaca; font-weight:bold; }

		.head_normal{ margin:0px; padding:0px 0px; color:#cacaca; font-weight:normal; }

		.bg_r2{ background-color:#f1f1f1; line-height:3em;}

		
/*-------------------------------admin panel paging starts here -------------------------*/

			.heading_paging{ padding:0px; margin:0px; color:#9c9c9c; font-size:20px;font-family:"helveticaneuelight", Helvetica, Arial, sans-serif;  }

			

			.paging_div_admin{padding:0px; margin:0px; width:100%;}

			.paging_div_admin .left_previous{ width:15%; display:inline-block; padding:0px; margin:0px; }

			.paging_div_admin .left_previous a{ display:inline-block; padding:0px; margin:0px; text-decoration:none; color:#8e8d8d; font-weight:normal;}

			.paging_div_admin .left_previous a:hover{ font-weight:bold;}

			

			

			

			

			

			.paging_div_admin .paging_center_main{ width:40%; display:inline-block; padding:0px; margin:0px; }

			

			.paging_div_admin .paging_center_main a{display:inline-block;  font-weight:bold;padding:0px 0.5em; margin:0px; color:#b1b1b1; border-left:1px solid #b1b1b1; }

			.paging_div_admin .paging_center_main a:hover{color:#f78d8b;}

			

			.paging_div_admin .right_next{ width:15%; display:inline-block; padding:0px; margin:0px; }

			.paging_div_admin .right_next a{ display:inline-block; padding:0px; margin:0px; text-decoration:none; color:#8e8d8d; font-weight:normal;}

			.paging_div_admin .right_next a:hover{ font-weight:bold;}

			.paging_div_admin .paging_center_main .current{color:#f78d8b;}

		/*-------------------------------admin panel paging ends here -------------------------*/

/*--------------------------------------------------------------admin panel ends here -----------------------------------------------------*/



/*------------------------------- contact us page starts here -------------------------*/
	.right ul li{ display:inline-block;}

	section.body_content_nw{

		 padding:0px; margin:0px;

		}

	div.inner_container_nw1{ text-align:center; margin:0px; padding:0px 0px 47px 0px; background-color:#f56f6c; }

	div.inner_container_nw1 .div_img{margin:0px; padding:0px 0px 0px 0px;  }

	div.inner_container_nw1 .div_frm{ height:1px; margin:0px 5em 0px 0px; padding:0px; width:20%; right:0px; position:relative; float:right;   top:-200px;  z-index:99999999999999999999;  }

							.div_frm .rw_main{margin:0px 0em 1em 0px; padding:0px; text-align:right; display:block;}

							

							.div_frm .input_nw_pg{margin:0px 2em 0px 0px; padding:0px 0px 0px 2%; width:98%; height:50px; display:block;} 

							

							

	

	

	

	

	

							

	

	div.inner_contain_headers{ width:100%; margin:0px; padding:0px; display:block;}

	div.inner_contain_headers .row_stk{margin:0px; padding:0px;}

	

	

		div.inner_container_nw1 .div_img_contact{ position:relative; z-index:0!important; top:0; margin:0px; padding:0% 0px 0% 0px; width:100%; height:100%;  }

	div.inner_container_nw1 .inner_contain_contact{ width:100%; margin:-27% 0px 0px 0px ; padding:0px;  top:0%;  position:relative; z-index:99999!important; }

	

	div.inner_contain_contact .content_contact{ width:70%; margin:0px auto; padding:1em 0px; display:block;}

	

	.content_contact h1{margin:0px; padding:0px 0px 1em 0px; text-align:center; color:#444444; font-size:40px;font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; }

	

	.content_contact h2{margin:0px; padding:0px 0px 1em 10px; text-align:left; color:#444444; font-size:22px;font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; font-weight:normal; }

	 .content_contact .form_cnt_main_contact{ width:70%; margin:0px; padding:0em 0px; display:block; }

	 

	  .content_contact .form_cnt_main_contact .part_left_contact_info{ width:70%; margin:0px; padding:0em 0px; display:inline-block; }

	  

	  .content_contact .form_cnt_main_contact .part_right_contact_info{ width:28%; margin:0px; padding:0em 0px; display:inline-block; vertical-align:top;}

	  

	  

	  .inp_frm{ border:2px solid #c3c7cb; border-radius:0px 0px 0px 0px!important; width:92%;}

	  

	   .inp_frm1{ border:2px solid #c3c7cb; border-radius:0px 0px 0px 0px!important; width:96%;}

	   

	   .text_class{ text-transform:uppercase; text-align:left;}
/*------------------------------- contact us page ends here -------------------------*/



/*--------------------------------------------------------------reset password starts here -----------------------------------------------------*/
	section.webaccount_reset_pass{padding:0px; margin:0px 0px 0px 0px;background-image:none; background-color:#dfdfdf;}
	section.webaccount_reset_pass .inn_main_rest_pass{ padding:3% 0px 15% 0px; margin:0px auto; width:80%; }
	
	section.webaccount_reset_pass .inn_main_rest_pass .main_rest_pass{ width:70%; margin:0px auto; padding:2% 5%; background-image:url(../images/rest_pass/white_grad_bg.png); background-repeat:repeat; background-position:left top;}
	
	
	section.webaccount_reset_pass .inn_main_rest_pass .main_rest_pass h1{ color:#585757; font-size:4em;font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; font-weight:bold; margin:0px; padding:2% 1%; background-image:url(../images/rest_pass/reset_pass_btn_brdr.png); background-repeat:no-repeat; background-position:left bottom; }
	
	section.webaccount_reset_pass .inn_main_rest_pass .main_rest_pass form{color:#555454;  margin:2% 0px; padding:1% 0px 1% 0px; font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; font-weight:normal; }
	
	section.webaccount_reset_pass .inn_main_rest_pass .main_rest_pass form label{color:#908f8f; margin:0% 0px; padding:0% 0px 0% 0px; font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; font-weight:bold;}
	
		section.webaccount_reset_pass .inn_main_rest_pass .main_rest_pass form input{ width:97%; padding:1%; margin:0px; border:2px solid #dcdcdc; border-radius:5px;}
		
	section.webaccount_reset_pass .inn_main_rest_pass .main_rest_pass form p{margin:0% 0px; padding:0% 0px 3% 0px;}	 
		.align_right_class{  text-align:right;}
		
/*--------------------------------------------------------------reset password ends here -----------------------------------------------------*/


/*--------------------------------------------------------------request a demo starts here -----------------------------------------------------*/

            section.webaccount_sign_up{padding:0px; margin:0px auto;background-image:none; width:100%; }
            section.webaccount_sign_up .inn_main_sign_up{ padding:3% 0px 5% 0px; margin:0px auto; width:100%; }
            section.webaccount_sign_up .inn_main_sign_up .main_sign_up{ width:100%; margin:0px auto; padding:0%; background-image:url(../images/sign_up_images/sign_up_bg.png);  background-repeat:repeat; background-position:left top;}
            
            section.webaccount_sign_up .inn_main_sign_up .main_sign_up h1{ text-align:center; color:#585757; font-size:4em;font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; font-weight:normal; margin:0px; padding:2% 1% 4% 0%; background-image:url(../images/rest_pass/reset_pass_btn_brdr.png); background-repeat:no-repeat; background-position:left bottom; }

 section.webaccount_sign_up .inn_main_sign_up .main_sign_up h1 span{ color:#5ab7ce;}
            
            section.webaccount_sign_up .inn_main_sign_up .main_sign_up form{color:#555454;  margin:2% 0px; padding:1% 0px 1% 0px; font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; font-weight:normal; }
            
            
            section.webaccount_sign_up .inn_main_sign_up .main_sign_up form label{ width:100%; font-size:16px;  margin:0% 0px; padding:0% 5px 0% 0px; font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; font-weight:bold; }
            section.webaccount_sign_up .inn_main_sign_up .main_sign_up form span{ color:#f8a19f; font-size:22px;}
            section.webaccount_sign_up .inn_main_sign_up .main_sign_up form input{ background-color:#f5f5f5; width:97%; padding:3% 1%; margin:0px; border:2px solid #dcdcdc; border-radius:5px;}
            
            
            
            .center_text{font-family:"helveticaneuelight", Helvetica, Arial, sans-serif; font-weight:normal; font-size:22px; text-align:center;}
/*--------------------------------------------------------------request a demo ends here -----------------------------------------------------*/

.admin_links {
	font-family: "helveticaneuelight", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #5ab7ce;
	font-size: 14px;
	font-style:italic;
}


