@charset "utf-8";
/* CSS Document */

html, body {width:100%;height:100%;margin:0;font-family:Arial, Helvetica, sans-serif;padding:0;}
body {width:100%;color:#000;height:100%;margin:0 auto;}
header, hgroup, nav, aside, footer, article{display:block;}
p, h1, h2, h3, h4, h5, h6 {margin:0;padding:0;}
img {border:none;}
.left{float:left;}
.right{float: right;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
ul, li {margin:0;padding:0;list-style:none;}
.clear {clear:both;}
a {text-decoration:none;}
a:hover {text-decoration:none;}


.wrapper{width:1010px;margin:0 auto;}

h1.page-title{font-size:32px;text-align:left;}
/*Header*/
header{position:relative;}
div.top-blank-header{background:#fa564c;border-bottom:5px solid #ffffff;height:25px;box-shadow:0px 2px 4px 0px #000000;position:absolute;width:100%;z-index:9}
div.header-neavigation{background:#dcdcdc;padding-top:35px;border-bottom:20px solid #494949;position:relative;height:57px;}
div.header-neavigation:after{content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
div.logo {position:relative;margin-top:0;}
div.header-neavigation nav ul li{float:left;line-height:57px;}
div.header-neavigation nav ul li a{font-size:20px;padding:0 10px;}

span.profile-pic{border-radius:5px;background:#fff;height:50px;width:50px;float:right;margin-left:20px;}




#tab-container{width:100%;}
.etabs {margin: 0;padding:0;}
.tab {display: inline-block;zoom: 1;*display:inline;border-bottom: none;-moz-border-radius: 4px 4px 0 0;-webkit-border-radius: 4px 4px 0 0;}
.tab a {font-size: 20px;line-height: 2em;display: block;padding: 0 10px;color:#000;outline: none;font-weight:normal;padding:5px 40px;font-weight:bold;}
.tab a:hover {color:#fd524a;}
.tab.active a {color:#fd524a !important;}
.tab.active span{background: none repeat scroll 0 0 #000000;
    border-radius: 50% 50% 50% 50%;
    color: #FFFFFF;
    float: left;
    height: 15px;
    margin-right: 15px;
    margin-top: 5px;
    padding: 8px;
    width: 15px;line-height:16px;text-align:center;}
.tab a span{ background: none repeat scroll 0 0 #000000;
    border-radius: 50% 50% 50% 50%;
    color: #FFFFFF;
    float: left;
    height: 15px;
    margin-right: 15px;
    margin-top: 5px;
    padding: 8px;
    width: 15px;line-height:16px;text-align:center;}
.tab a:hover span{background: none repeat scroll 0 0 #fd524a;
    border-radius: 50% 50% 50% 50%;
    color: #FFFFFF;
    float: left;
    height: 15px;
    margin-right: 15px;
    margin-top: 5px;
    padding: 8px;
    width: 15px;line-height:16px;text-align:center;}
.tab-container .panel-container {}


#design-assignment, #design-detail, #launch-assignment{position:relative !important;background: #eaeaea;margin-bottom:20px;padding: 10px;-moz-border-radius: 0 4px 4px 4px;-webkit-border-radius: 0 4px 4px 4px;position:relative;border:1px solid #CCC;margin-top:20px;}
.tab-arrow{position:absolute;}
#design-assignment .tab-arrow{top:-22px;left:165px;}
#design-detail .tab-arrow{top:-22px;left:500px;}
#launch-assignment .tab-arrow{top:-22px;left:830px;}
.panel-container h1{font-size:36px;font-weight:normal;}
.panel-container h3{font-weight:normal;}
.panel-container p{font-size:12px;line-height:18px;margin:10px 0;}
h2.section-title{}



