﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"BaronNeue-Bold";src:url("Baron_Neue_Bold_60.eot?") format("eot"),url("Baron_Neue_Bold_60.woff") format("woff"),url("Baron_Neue_Bold_60.ttf") format("truetype"),url("Baron_Neue_Bold_60.svg#BaronNeue-Bold") format("svg");font-weight:normal;font-style:normal;}
