<link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'> .site-header.th-light .header-inner {
 background-color: #fff;
}
.site-header.th-light .main-nav ul li {
	border-top-color: #e8e8e8;
}
.site-header.th-light .main-nav ul li a {
	color: #111;
}
.site-header.th-light .main-nav ul li a:hover, .site-header.th-light .main-nav ul li.active>a, .site-header.th-light .main-nav ul li.current-menu-item>a {
	color: #ec005f;
}
.site-header.th-light .main-nav ul li .sub-toggle {
	color: #777;
	border-left-color: #e8e8e8;
}
.site-header.th-light .main-nav ul li ul {
	background-color: #fff;
}
.site-header.th-light .main-nav ul li li {
	border-color: #e8e8e8;
}
.th-light .section-row.shadow-bg, .section .section-row.th-light.shadow-bg {
	background: #fafafa;
}
.th-light, .section-row.th-light {
	color: #444;
	background-color: #fff;
}
.th-light strong, .section-row.th-light strong, .th-light h1, .section-row.th-light h1, .th-light h2, .section-row.th-light h2, .th-light h3, .section-row.th-light h3, .th-light h4, .section-row.th-light h4, .th-light h5, .section-row.th-light h5, .th-light h6, .section-row.th-light h6 {
	color: #000;
}
.th-light h1 small, .section-row.th-light h1 small, .th-light h2 small, .section-row.th-light h2 small, .th-light h3 small, .section-row.th-light h3 small, .th-light h4 small, .section-row.th-light h4 small, .th-light h5 small, .section-row.th-light h5 small, .th-light h6 small, .section-row.th-light h6 small {
	color: #555;
}
 .th-light [class*=spacer-].bordered, .section-row.th-light [class*=spacer-].bordered {
 background: #e8e8e8;
}
.th-light .section-title:before, .section-row.th-light .section-title:before {
	background-color: #ec005f;
}
.th-light .section-separator-title span, .section-row.th-light .section-separator-title span {
	border-color: #f5f5f5;
}
.th-light .section-title:after, .section-row.th-light .section-title:after, .th-light .section-separator-title span:after, .section-row.th-light .section-separator-title span:after {
	color: #f5f5f5;
}
.th-light .icon-box .icon, .section-row.th-light .icon-box .icon {
	color: #ec005f;
}
.th-light .icon-box.circled .icon, .section-row.th-light .icon-box.circled .icon, .th-light .icon-box.boxed .icon, .section-row.th-light .icon-box.boxed .icon {
	background-color: #f5f5f5;
}
.th-light .icon-box.circled:hover .icon, .section-row.th-light .icon-box.circled:hover .icon, .th-light .icon-box.boxed:hover .icon, .section-row.th-light .icon-box.boxed:hover .icon {
	color: #fff;
	background-color: #ec005f;
}
.th-light .team-photo figcaption, .section-row.th-light .team-photo figcaption {
	background-color: rgba(255, 255, 255, .5);
}
.th-light .team-photo figcaption a, .section-row.th-light .team-photo figcaption a {
	color: #fff;
	background-color: #ec005f;
}
.th-light .team-photo figcaption a:hover, .section-row.th-light .team-photo figcaption a:hover {
	color: #fff;
	background-color: #000;
}
.th-light .counter .number, .section-row.th-light .counter .number {
	color: #ec005f;
}
.th-light .counter .label, .section-row.th-light .counter .label {
	color: #000;
}
.th-light .testimonial blockquote p, .section-row.th-light .testimonial blockquote p {
	color: #ccc;
}
.th-light .testimonial blockquote small, .section-row.th-light .testimonial blockquote small {
	color: #000;
}
.th-light .testimonial blockquote small cite, .section-row.th-light .testimonial blockquote small cite {
	color: #999;
}
.th-light .tweet .tweet_text, .section-row.th-light .tweet .tweet_text {
	color: #444;
}
.th-light .tweet .tweet_time a, .section-row.th-light .tweet .tweet_time a {
	color: #000;
}
.th-light .tweet .tweet_user, .section-row.th-light .tweet .tweet_user {
	color: #999;
}
.th-light .testimonial-slider:before, .section-row.th-light .testimonial-slider:before {
	color: #fff;
	background-color: #ec005f;
}
.th-light .tweet-slider:before, .section-row.th-light .tweet-slider:before {
	color: #fff;
	background-color: #ec005f;
}
.th-light .service-icon .fa, .section-row.th-light .service-icon .fa, .th-light .service-icon .gi, .section-row.th-light .service-icon .gi {
	color: #000;
}
.th-light .service-icon .fa.shadow-icon, .section-row.th-light .service-icon .fa.shadow-icon, .th-light .service-icon .gi.shadow-icon, .section-row.th-light .service-icon .gi.shadow-icon {
	color: #f5f5f5;
}
.th-light .pricing-table, .section-row.th-light .pricing-table {
	background: #f5f5f5;
}
.th-light .client-list .client:after, .section-row.th-light .client-list .client:after, .th-light .client-list .client:before, .section-row.th-light .client-list .client:before {
	background-color: #fff;
	border-color: #e0e0e0;
}
.th-light .call-to-action, .section-row.th-light .call-to-action {
	border-color: #e8e8e8;
}
.th-light .recent-post, .section-row.th-light .recent-post {
	background-color: #fff;
}
.th-light .recent-post-body:before, .section-row.th-light .recent-post-body:before {
	color: #f5f5f5;
}
.th-light .recent-post-body .read-more-link, .section-row.th-light .recent-post-body .read-more-link {
	color: #fff;
	background-color: #ec005f;
}
.th-light .recent-post-body .read-more-link:after, .section-row.th-light .recent-post-body .read-more-link:after, .th-light .recent-post-body .read-more-link:before, .section-row.th-light .recent-post-body .read-more-link:before {
	border-top-color: #ec005f;
	border-right-color: #ec005f;
}
.th-light .recent-post-body .read-more-link:hover, .section-row.th-light .recent-post-body .read-more-link:hover {
	color: #fff;
	background-color: #000;
}
.th-light .recent-post-body .read-more-link:hover:after, .section-row.th-light .recent-post-body .read-more-link:hover:after, .th-light .recent-post-body .read-more-link:hover:before, .section-row.th-light .recent-post-body .read-more-link:hover:before {
	border-top-color: #000;
	border-right-color: #000;
}
.th-light .projects .filter .active-label, .section-row.th-light .projects .filter .active-label {
	background-color: #f5f5f5;
}
.th-light .projects .filter li.active a, .section-row.th-light .projects .filter li.active a, .th-light .projects .filter li:hover a, .section-row.th-light .projects .filter li:hover a {
	color: #fff;
	background-color: #ec005f;
}
.th-light .projects .filter a, .section-row.th-light .projects .filter a {
	color: #444;
	background-color: #f5f5f5;
}
.th-light .projects .project-image .overlay, .section-row.th-light .projects .project-image .overlay {
	background-color: rgba(255, 255, 255, .5);
}
.th-light .projects .project-image .overlay .actions a, .section-row.th-light .projects .project-image .overlay .actions a {
	color: #fff;
	background-color: #ec005f;
}
.th-light .projects .project-image .overlay .actions a:hover, .section-row.th-light .projects .project-image .overlay .actions a:hover {
	color: #fff;
	background-color: #000;
}
.th-light .projects .project-load-more a, .section-row.th-light .projects .project-load-more a {
	color: #fff;
	background: #f5f5f5;
}
.th-light .projects .project-load-more a:hover, .section-row.th-light .projects .project-load-more a:hover {
	color: #fff;
	background-color: #ec005f;
}
.th-light .media .overlay:hover, .section-row.th-light .media .overlay:hover {
	background-color: rgba(255, 255, 255, .4);
}
.th-light .media .overlay a, .section-row.th-light .media .overlay a {
	color: #fff;
	background-color: #000;
}
.th-light .media .overlay a:hover, .section-row.th-light .media .overlay a:hover {
	color: #fff;
	background-color: #ec005f;
}
.th-light .scoopr-theme .owl-buttons div, .section-row.th-light .scoopr-theme .owl-buttons div {
	border-color: #b5b5b5;
	color: #444;
}
.th-light .scoopr-theme .owl-page, .section-row.th-light .scoopr-theme .owl-page {
	border-color: #b5b5b5;
}
.th-light .scoopr-theme .owl-page span, .section-row.th-light .scoopr-theme .owl-page span {
	color: #444;
}
.th-light .pager li>a, .section-row.th-light .pager li>a, .th-light .pager li>span, .section-row.th-light .pager li>span {
	color: #444;
	background-color: #e8e8e8;
}
.th-light .pager li>a:hover, .section-row.th-light .pager li>a:hover, .th-light .pager li>a:focus, .section-row.th-light .pager li>a:focus {
	background-color: #ec005f;
}
.th-light .pagination>li>a, .section-row.th-light .pagination>li>a, .th-light .pagination>li>span, .section-row.th-light .pagination>li>span {
	color: #444;
	background-color: #e8e8e8;
}
.th-light .pagination>.disabled>a, .section-row.th-light .pagination>.disabled>a, .th-light .pagination>.disabled>span, .section-row.th-light .pagination>.disabled>span {
	background-color: #fff!important;
}
.th-light .nav>li>a:hover, .section-row.th-light .nav>li>a:hover, .th-light .nav>li>a:focus, .section-row.th-light .nav>li>a:focus {
	background-color: #f5f5f5;
}
.th-light .nav>li.disabled>a, .section-row.th-light .nav>li.disabled>a {
	color: #999;
}
.th-light .nav>li.disabled>a:hover, .section-row.th-light .nav>li.disabled>a:hover, .th-light .nav>li.disabled>a:focus, .section-row.th-light .nav>li.disabled>a:focus {
	color: #999;
}
.th-light .nav-tabs, .section-row.th-light .nav-tabs {
	border-bottom-color: #e8e8e8;
}
.th-light .nav-tabs>li>a:hover, .section-row.th-light .nav-tabs>li>a:hover {
	border-color: #f5f5f5;
	border-bottom-color: #e8e8e8;
}
.th-light .nav-tabs>li.active>a, .section-row.th-light .nav-tabs>li.active>a, .th-light .nav-tabs>li.active>a:hover, .section-row.th-light .nav-tabs>li.active>a:hover, .th-light .nav-tabs>li.active>a:focus, .section-row.th-light .nav-tabs>li.active>a:focus {
	color: #444;
	background-color: #fff;
	border-color: #e8e8e8;
	border-bottom-color: transparent;
}
.th-light .nav-pills>li.active>a, .section-row.th-light .nav-pills>li.active>a, .th-light .nav-pills>li.active>a:hover, .section-row.th-light .nav-pills>li.active>a:hover, .th-light .nav-pills>li.active>a:focus, .section-row.th-light .nav-pills>li.active>a:focus {
	color: #fff;
	background-color: #ec005f;
}
.th-light .panel-default, .section-row.th-light .panel-default {
	border-color: #e8e8e8;
}
.th-light .panel-default>.panel-heading, .section-row.th-light .panel-default>.panel-heading {
	color: #000;
	border-color: #e8e8e8;
}
.th-light .panel-default>.panel-heading+.panel-collapse .panel-body, .section-row.th-light .panel-default>.panel-heading+.panel-collapse .panel-body {
	border-top-color: #e8e8e8;
}
.th-light .panel-default>.panel-footer+.panel-collapse .panel-body, .section-row.th-light .panel-default>.panel-footer+.panel-collapse .panel-body {
	border-bottom-color: #e8e8e8;
}
.th-light .panel-heading .panel-title a[data-toggle=collapse], .section-row.th-light .panel-heading .panel-title a[data-toggle=collapse] {
	background-color: #f5f5f5;
}
.th-light .panel-heading .panel-title a[data-toggle=collapse].collapsed, .section-row.th-light .panel-heading .panel-title a[data-toggle=collapse].collapsed {
	background-color: transparent;
}
.th-light .progress, .section-row.th-light .progress {
	background-color: #f5f5f5;
}
.th-light table, .section-row.th-light table {
	background-color: #fff;
}
.th-light .table>thead>tr>th, .section-row.th-light .table>thead>tr>th, .th-light .table>tbody>tr>th, .section-row.th-light .table>tbody>tr>th, .th-light .table>tfoot>tr>th, .section-row.th-light .table>tfoot>tr>th, .th-light .table>thead>tr>td, .section-row.th-light .table>thead>tr>td, .th-light .table>tbody>tr>td, .section-row.th-light .table>tbody>tr>td, .th-light .table>tfoot>tr>td, .section-row.th-light .table>tfoot>tr>td {
	border-top-color: #e8e8e8;
}
.th-light .table>thead>tr>th, .section-row.th-light .table>thead>tr>th {
	border-bottom-color: #e8e8e8;
}
.th-light .table>tbody+tbody, .section-row.th-light .table>tbody+tbody {
	border-top-color: #e8e8e8;
}
.th-light .table .table, .section-row.th-light .table .table {
	background-color: #fff;
}
.th-light .table-bordered, .section-row.th-light .table-bordered {
	border-color: #e8e8e8;
}
.th-light .table-bordered>thead>tr>th, .section-row.th-light .table-bordered>thead>tr>th, .th-light .table-bordered>tbody>tr>th, .section-row.th-light .table-bordered>tbody>tr>th, .th-light .table-bordered>tfoot>tr>th, .section-row.th-light .table-bordered>tfoot>tr>th, .th-light .table-bordered>thead>tr>td, .section-row.th-light .table-bordered>thead>tr>td, .th-light .table-bordered>tbody>tr>td, .section-row.th-light .table-bordered>tbody>tr>td, .th-light .table-bordered>tfoot>tr>td, .section-row.th-light .table-bordered>tfoot>tr>td {
	border-color: #e8e8e8;
}
 .th-light .table-striped>tbody>tr:nth-child(odd)>td, .section-row.th-light .table-striped>tbody>tr:nth-child(odd)>td, .th-light .table-striped>tbody>tr:nth-child(odd)>th, .section-row.th-light .table-striped>tbody>tr:nth-child(odd)>th {
 background-color: #f5f5f5;
}
.th-light .table-hover>tbody>tr:hover>td, .section-row.th-light .table-hover>tbody>tr:hover>td, .th-light .table-hover>tbody>tr:hover>th, .section-row.th-light .table-hover>tbody>tr:hover>th {
	background-color: #eee;
}
.th-light .form-control, .section-row.th-light .form-control {
	background-color: #fff;
	color: #444;
	border-color: #e8e8e8;
}
 .th-light .form-control::-moz-placeholder, .section-row.th-light .form-control::-moz-placeholder {
 color: #999;
 opacity: 1;
}
 .th-light .form-control:-ms-input-placeholder, .section-row.th-light .form-control:-ms-input-placeholder {
 color: #999;
}
 .th-light .form-control::-webkit-input-placeholder, .section-row.th-light .form-control::-webkit-input-placeholder {
 color: #999;
}
.th-light .form-control:focus, .section-row.th-light .form-control:focus {
	border-color: #d5d5d5;
}
.th-light .form-control[disabled], .section-row.th-light .form-control[disabled], .th-light .form-control[readonly], .section-row.th-light .form-control[readonly], fieldset[disabled] .th-light .form-control, fieldset[disabled] .section-row.th-light .form-control {
	background-color: #f5f5f5;
}
.th-light .post, .section-row.th-light .post {
	border-bottom-color: #e8e8e8;
}
.th-light .post-media blockquote, .section-row.th-light .post-media blockquote {
	background: #f5f5f5;
	color: #000;
}
.th-light .post-media blockquote:before, .section-row.th-light .post-media blockquote:before {
	color: #fff;
}
.th-light .post-header .post-date, .section-row.th-light .post-header .post-date {
	color: #999;
}
.th-light .post-header .meta li, .section-row.th-light .post-header .meta li {
	color: #999;
}
.th-light .post-header .meta a, .section-row.th-light .post-header .meta a {
	border-bottom-color: #d1d1d1;
}
.paratext {
	font:lighter 15px/38px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* ==============   SignIn (22 april added by sarabjeet) ===================== */
.clear {
	clear:both;
}
#block_div {
	height:auto;
	margin:0 auto;
}
.block_container {
	width:100%;
	height:auto;
	margin:0;
	padding:0;
	float:left;
}
.popup_wrapper {
	background: #fdfdfd;
margin: 34px auto 0 auto;
width:80%;
position:relative;
overflow:hidden;
padding:3% 12% 8% 12%;
-webkit-box-shadow: 0px 0px 20px 1px rgba(133,133,133,0.65);
-moz-box-shadow: 0px 0px 20px 1px rgba(133,133,133,0.65);
box-shadow: 0px 0px 20px 1px rgba(133,133,133,0.65);
}
body.popup {
	background:#bababa;
	}
	
	.popup-header {
width: 100%;
float: left;
		}
	
	.popup-header .button_close {
position: absolute;
top: 1%;
color: #858585;
font: lighter 220%/127% "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
right: 1%;
cursor:pointer;
		}


	.popup_content p {
font: lighter 144%/127% "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 5% 0px;
	}
.popup-header img {
	display:inline;
	}
.infosection {
	width:100%;
	height:auto;
	margin:0;
	float:left;
	font:lighter 18px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#585757;
}
.infocontent {
	width:100%;
	height:auto;
	margin:0px 0 0 0;
	float:left;
	font:lighter 18px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#585757;
}
.percent50 {
	width:48%;
	height:auto;
	padding:0;
	float:left;
}
.percent50 + .percent50 {
	float:right;
}
.infosection a, .infosection a:hover {
	color:#0369a9;
	text-decoration:none;
}
.info_block {
	float:left;
	margin:0;
}
.info_block h1 {
	font:lighter 271%/127% "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#7c7c7c;
	width:100%;
	margin:0;
	padding:0;
}
.popup-header p a {
	color:#5ab7ce;
	}


.popup_content .radio_block {
width: auto;
height: 42px;
padding: 0;
margin: 19px 0px 0 0;
line-height: 40px;
}

.info_tagline {
	font:lighter 137%/100% "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#585757;
	width:100%;
	border-top:2px solid #dcdcdc;
	padding:8px 0;
	margin:0;
}
.info_tagline p {
	margin:0px;
	}

.info_section_icon {
	color:#585757;
}
.infocontent label {
	width: 100%;
float: left;
padding: 0;
font: 105%/40px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #898989;
}
.info_txtfeild {
	background:#f0f0f0;
	width:100%;
	height:35px;
	border:none;
	float:left;
	margin:0;
	padding:5px;
	font:lighter 18px/40px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#898989;
}
.radio_block {
	width:auto;
	height:42px;
	padding:0;
	margin:0 20px 0 0;
	line-height:40px;
}
.radio_btn_div {
	width:auto;
	margin:20px 0 0 0;
	padding:0;
	height:40px;
}
.radio_block label {
	width:auto;
	margin:0 0 0 20px;
	padding:0;
	float:left;
	line-height:40px;
	font:lighter 22px/40px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.custom-radio {
	width: 40px;
	height: 40px;
	display: inline-block;
	float:left;
	z-index: 1;
	top: 3px;
	background: url("../img/radio.png") no-repeat;
}
.custom-radio.selected, .custom-radio:hover {
	background: url("../img/radio-selected.png") no-repeat;
}
.custom-radio input[type="radio"] {
	margin: 1px;
	position: absolute;
	z-index: 2;
	cursor: pointer;
	outline: none;
	opacity: 0;
	/* CSS hacks for older browsers */
	_noFocusLine: expression(this.hideFocus=true);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
}
.radio_block input[type="checkbox"] {
	display:none;
}
.radio_block input[type="checkbox"] + label span {
	display:inline-block;
	width:40px;
	height:40px;
	margin:0 10px 0 0;
	vertical-align:middle;
	background: url("../img/checkbox.png") no-repeat;
	cursor:pointer;
}
.radio_block input[type="checkbox"]:checked + label span {
	background: url("../img/checkbox.png") 0 -40px no-repeat;
}
.btn_div {
	width:auto;
	height:42px;
	padding:0;
	margin:0;
}
.btn_center {
	text-align:center;
}
.btn_block {
	display:inline-block;
 *display:inline; /*IE7*/
 *zoom:1; /*IE7*/
	margin:0;
	padding:0;
}
.action_btn {
	width:auto;
	height:40px;
	padding:5px 15px;
	margin:0;
	background:#f56f6c;
	color:#fffffe;
	font:lighter 24px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:center;
	border:none;
}
.notes {
	width:100%;
	float:left;
	margin:3% 0;
	padding:0;
	text-align:center;
	font:lighter 24px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*---- New Dashoard ----*/


body.dashboard_body {
	background:#e4e7ea !important;
}
.side-section {
	font-family: 'Raleway', sans-serif;
	font-weight:400;
	min-height: 1000px;
	width: 20%;
	float: left;
	background: #1d2938;
}
.head_accor {
	color: #454f5c;
	font-size: 89%;
	text-transform: uppercase;
	margin: 20px 0px;
	display: inline-block;
}
.menu_sides {
}
.notification {
	background: #f56f6c;
	color: #fff !important;
	position: absolute;
	right: 0px;
	top:0px;
	font-weight: bold;
	font-size: 100%;
	padding: 0px 6px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	/*edited by Ravinder Verma(9-5-14)*/
    height: 24px;
	margin-right: 3px;
	margin-top: 3px;
	min-width: 24px;
	position: absolute;
	text-align: center;
}
.menu_sides .accordionButton {
	width:100%;
	float:left;
	cursor: pointer;
	font-weight: normal;
	font-size: 100%;
	padding:3px 0px;
	position: relative;
	margin: 5px 0px;
}
.menu_sides .accordionButton span {
	padding-left:5px;
	color: #a5a4a2;
}
.menu_sides .accordionContent {
	width:100%;
	float:left;
	margin: 0px 0px 15% 0px;
}
.menu_sides .accordionContent p {
	color:#333333;
	font-size:14px;
	padding-left:8px;
}
.menu_sides .on {
	width:100%;
	float:left;
	background:#fff;
	cursor:pointer;
}
.on span {
	color:#FFFFFF;
}
.menu_sides .over {
	width:100%;
	float:left;
	background:#5ab7ce;
	cursor:pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.menu_sides .over span i, .menu_sides .over span{
	color:#fff !important;
	}

.accordionContent a {
display: block;
width: 100%;
/* font-weight: bold; */
color: #77787c;
background: url("../img/menu_icon.png") no-repeat left center;
padding: 6px 0px 6px 17px;
margin: 0px 0px 0px 15px;
/* font: normal 15px/154% 'ralewayregular'; */
font-size: 14px;
}
.accordionContent a:hover {
	display: block;
	width: 100%;
	color: #db6766;
}
.menu_sides .on {
	width:100%;
	float:left;
	background:#5ab7ce;
	cursor:pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.menu_sides .over span {
	color:#8e949c;
}
.menu_sides .on span i, .menu_sides .on span{
	color:#fff !important;
	}
.menu_sides .plusMinus {
	font-weight:bold;
	float:right;
	color: #a5a4a2;
	padding-right:4px;
	font-size: 100%;
	content:"+";
}
.sharing-ratios ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.sharing-ratios ul li {
	margin: 0px;
	padding: 0px;
	color: #d2d4d7;
	text-transform: uppercase;
	font-size: 144%;
	font-weight: bold;
	line-height: 76%;
	margin: 13% 0%;
}
.sharing-ratios ul li:first-child {
	margin: 0% 0%;
}
.graph1 {
	background: url("../img/graph1.png") no-repeat right center;
}
.graph2 {
	background: url("../img/graph2.png") no-repeat right center;
}
.graph3 {
	background: url("../img/graph3.png") no-repeat right center;
}
.graph4 {
	background: url("../img/graph4.png") no-repeat right center;
}
.sharing-ratios ul li span {
	color:#495460;
	display: block;
	font-size: 59%;
	font-weight: normal;
}
.main-wraps {
	width: 80%;
	float: left;
	background: #e4e7ea;
	min-height: 1000px;
}
.dashboard-header {
	width: 100%;
	overflow: hidden;
	background: #fff;
}
.brand-name {
	height: 45px;
	line-height: 45px;
}
.seprat {
	border-left: 1px solid #e5e5e5;
	width: 63%;
	padding: 0% 2%;
	border-right: 1px solid #e5e5e5;
}
.account-name {
	background: #f7f7f7;
	border-top: 1px solid #cdcfd2;
	border-bottom: 1px solid #cdcfd2;
	overflow: hidden;
	width: 100%;
	font-family: "Myriad Pro";
}
.no-gutter {
	padding: 0px;
}
.acc-name {
	line-height: 70px;
	height: 70px;
}
.acc-name p {
	/*font-size: 207%;*/
    margin: 0px;
	padding: 0px 0px 0px 49px;
	font-weight: normal;
	background: url("../img/house_icon.png") no-repeat left center;
	height: 70px;
	/*edited by Ravinder(9-5-14)*/
	letter-spacing: -1px;
	font-size: 2.3em;
	color:#1d2939;
}
.acc-name p span {
	/*    font-size: 45%;
    font-weight: bold;*/
	/*edited by Ravinder(9-5-14)
	color: #666666;*/
	font-size: 0.5em;
	font-weight: 600;
}
.location-head {
	height: 70px;
	line-height: 70px;
}
.location-head p {
	font-size: 83%;
	margin: 0px;
	padding: 0px;
	color: #919191;
	/*edited by Ravinder(9-5-14)*/
	font-weight:600;
}
.nav_dashboard, .sorting-links {
	background: #fcfcfc;
	height: 50px;
	margin: 5px 0px;
}
.nav_dashboard {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.sorting-links {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.location-head p span {
	color: #63bbd0;
}
.dash_nav ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	height: 54px;
	overflow: hidden;
}
.full-site-container {
	float: left;
	margin: 70px 0px 0px 0px;
	width: 100%;
}
.dashboard_headers {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 999;
	background: #fff;
}
.dash_nav input[type=checkbox] {
	display: inline;
}
.dash_nav ul li a {
	padding: 12px 22px;
	color: #a0a0a0;
	display: inline-block;
}
.dash_nav ul li a:first-child {
	padding: 12px 22px 12px 0px;
	color: #a0a0a0;
	display: inline-block;
}
.dash_nav ul li {
	display: inline-block;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	font-size: 83%;
	height: 50px;
	border-left:1px solid #eeeeee;
}
.dash_nav ul li:first-child {
	border-left:0px solid #eeeeee;
}
.dash_nav ul li input[type=text] {
	display: inline;
	width: auto;
	height: 50px;
	background: url("../img/search-icon-grey.png") no-repeat right 10px center;
	padding: 0px 15px;
	border-bottom:none;
	border-top:none;
	border-left:none;
	border-right: none;
}
.sorting-links {
	font-weight: normal;
	font-size: 83%;
	border-left:1px solid #eeeeee;
}
.sorting-links a {
	padding: 0px 2%;
	color: #666666;
}
.sorting-links a:hover {
	color: #256298;
	text-decoration: underline;
}
.sorting-links p {
	margin: 0px;
	height: 50px;
	line-height: 50px;
}
.content-wraps-dash ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.content-wraps-dash {
	width: 100%;
	float: left;
	padding: 2% 0px 0px 0px;
}
.content-wraps-dash ul li {
	background: #fcfcfc;
	display: inline-block;
	padding: 1%;
margin: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.content-wraps-dash ul li img {
	display: block;
}
.content-wraps-dash ul li span {
	display: block;
	color: #63bbd0;
	font-size: 79%;
	margin: 3% 0px 0px 0px;
}
.content-wraps-dash ul li p {
	display: block;
	color: #b0b0b0;
	margin: 0px;
	padding: 0px;
	font-size: 79%;
	line-height: 100%;
}
.pagination-dashboard-con .btn-group {
	display: inline;
}
.folder-group p {
	text-align: center;
	background: #70b5c9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 100%;
	font-weight: bold;
	color: #fff;
	padding: 7px;
}
.folder-group ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.folder-group ul li {
	display: block;
	margin: 0px;
	padding: 0px;
	background: none;
	border-bottom: 1px solid #dddddd;
}
.folder-group ul li a {
	color: #6e6e6e;
	font-size: 100%;
	width: 100%;
	display: inline-block;
	font-weight: normal;
	font-size: 94%;
	background: url("../img/folder_icon.png") no-repeat left 15px !important;
	padding: 8px 9%;
}
.folder-group ul li a:hover, .folder-group ul li a.activeassignment {
	color: #5ab7ce;
	font-size: 94%;
	background: url("../img/folder_icon.png") no-repeat left -12px !important;
}
.stronghead {
	font-weight: bold;
	text-transform: uppercase;
	float: left !important;
	font-size: 88%;
}
.heading-folder {
	width: 100%;
	overflow: hidden;
}
.heading-folder span {
	text-align: right;
	float: right;
	font-size: 88%;
	text-transform: uppercase;
}
.tag_container {
	width: 100%;
}
.tag_container a {
	background: #fcfcfc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 4px;
	display: inline-block;
	font-size: 88%;
	margin: 1%;
	color: #666666;
}
.popup_content {
	overflow:hidden;
	float:left;
	width:100%;
	}
.popup_content label {
	color: #939393;
font-size: 132%;
font-weight: normal;
width: 100%;
float: left;
}

.action_container {
	width: 96%;
	margin: 0 auto;
}
.search-box .form-group {
	margin: 0px;
}
.search-box {
	padding-left: 0px !important;
}
.search-box input {
	background: url("../img/search-icon.png") no-repeat right 10px center;
	border-bottom:none;
	border-top:none;
	border-left:none;
	border-right: 1px solid #ccc;
}
.half_width {
	width: 50%;
	float: left;
}
.ratings_boxes {
	color: #fff;
	font-family: "Myriad Pro";
	overflow: hidden;
	width: 100%;
	display: inline-block;
}
.ratings_boxes h1 {
	font-weight: bold;
	color: #fff;
	font-size: 304%;
	padding: 0px;
	margin: 18px 0px 0px 0px;
}
.image_view {
	background: #5ab7ce;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	margin: 20px 0px;
	padding: 10px 0px;
}
.image_view .main_rate {
	background: url("../img/ratings_icon1.png") no-repeat left 17px top 17px;
}
.submission_view {
	background: #d9534f;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	margin: 20px 0px;
	padding: 21px 0;
}
.submission_view .main_rate {
	background: url("../img/ratings_icon2.png") no-repeat left 17px top 17px;
}
.assignment_view {
	background: #5ab7ce;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	margin: 20px 0px;
	padding: 21px 0;
}
.assignment_view .main_rate {
	background: url("../img/ratings_icon3.png") no-repeat left 17px top 17px;
}
.reward_view {
	background: #1d2939;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	margin: 20px 0px;
	padding: 10px 0px;
}
.reward_view .main_rate {
	background: url("../img/ratings_icon4.png") no-repeat left 17px top 17px;
}
.details_rate {
}
.details_rate p {
	margin: 0px;
	padding: 0px;
	line-height: 163%;
}
.details_rate span {
	display: block;
	font-weight: bold;
	font-size: 166%;
}
.main_rate {
	height: 84px;
	padding: 0 0 0 39%;
}
.main_rate p {
	line-height: 0px;
	padding: 0px;
	display: inline;
}
.fullhead_dash {
	background: #fcfcfc;
	border-bottom: 3px solid #cdcfd2;
	padding: 2%;
	font-weight: bold;
	overflow:hidden;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-bottom: 20px;
}
.data_panel {
	margin: 0px 0px 20px 0px;
}
.panel_header {
	background: #1d2939;
	color: #fff;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	;
	padding: 2%;
}
.panel_content {
	padding: 2%;
	background: #fcfcfc;
	border-bottom: 3px solid #cdcfd2;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow: hidden;
	font-size: 92%;
}
.like_panel {
	font-family: "Myriad Pro";
	margin: 0px 0px 20px 0px;
}
.like_panel .image_box, .like_panel .image_box img {
	width: 100%;
}
.profile_details {
	width: 100%;
	background:#fcfcfc;
	padding: 3%;
	float: left;
}
.views i {
	font-size: 116%;
	padding: 0px 4px;
}
.like_diffrence ul li span i {
	font-size: 132%;
	padding: 0px 2px;
}
.profile_details h1 {
	font-size: 141%;
	line-height: normal !important;
	margin: 0px;
	color: #1d2939;
}
.geolocation {
	margin: 0px;
	line-height: normal;
	color: #9399a0;
	font-size: 87%;
	width: 100%;
	float: left;
}
.geolocation i {
	padding: 0px 4px 0px 0px;
	font-size: 128%;
}
.heading_like {
	width: 70%;
	float: left;
}
.author {
	font-size: 93%;
	color: #1d2939;
	float: left;
	width: 100%;
}
.author a {
	color: #428bca;
}
.views {
	width: 30%;
	float: left;
	padding: 0px 0px 0px 18px;
}
.like_diffrence {
	font-family: "Myriad Pro";
	background: #eeeeee;
	border-bottom: 3px solid #cdcfd2;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	width: 100%;
	float: left;
	border-bottom-left-radius: 5px;
}
.like_diffrence ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	overflow: hidden;
}
.like_diffrence ul li {
	width: 33.3%;
	float: left;
	text-align: center;
	border-left: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
}
.like_diffrence ul li a {
	width: 100%;
	display: inline-block;
	padding: 10px 0px;
	font-size: 87%;
	color: #4e4e4e;
}
.like_diffrence ul li .like-icon {
	background: url("../img/fb_like_icon.png") no-repeat left center;
	padding: 0px 0px 0px 18px;
}
.like_diffrence ul li .chat-icon {
	background: url("../img/chat_icon.png") no-repeat left center;
	padding: 0px 0px 0px 18px;
}
.view_add_image {
	font-family: "Myriad Pro";
	text-align: center;
}
.view_add_image ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.view_add_image ul li {
	width: 30%;
	margin: 1%;
	float: left;
	font-style: italic;
}
.view_add_image span i {
	font-size: 125%;
	padding: 0px 5px;
}
.view_add_image ul li span {
	padding: 0px 0px 0px 0px;
}
.view_add_image ul li p {
	margin: 0px;
	font-size: 100%;
	padding: 0px 0px 0px 5px;
	line-height: normal;
}
.steps_form {
	background: #e4e7ea;
	padding: 11px 0px 0px 0px;
}
.steps_form ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	width: 100%;
	display: inline-block;
	padding: 0px 0px 20px 0px;
}
.steps_form ul li {
	float: left;
	color: #6a6969;
	font-size: 141%;
	padding: 0px 1%;
	font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*edited by Ravinder(9-5-14)*/
	font-weight: 600;
	font-weight:normal;
}
.steps_form ul li.active {
	color: #fb5248;
}
.steps_form h1 {
	color: #6a6969;
	font-size: 266%;
	margin: 0px;
	padding: 0% 1%;
	line-height: normal !important;
}
.one_step span, .two_step span, .three_step span {
	background: #6a6969;
	font-family: "Myriad Pro";
	font-size: 85%;
	padding: 10px;
	height: 40px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	width: 40px;
	display: inline-block;
	position: relative;
	top: 12px;
	margin: 0px 11px 0px 0px;
}
.one_step span.active, .two_step span.active, .three_step span.active {
	background: #fb5248;
}
.one_step span i, .two_step span i, .three_step span i {
	position: absolute;
	top: 1px;
	color: #fff;
	font-size: 131%;
	font-style: normal;
	left: 36%;
}
.content_dash_3 {
	margin: 0 auto;
	width: 98%;
}
.cont_dash {
	background: #f6f6f6;
	min-height:749px;
}
.content_box_small {
	width: 60%;
	padding: 1%;
	margin: 2% 0;
	float: left;
	background: #fff;
}
.content_box_small_icon {
	width: 62px;
	height: 62px;
	padding: 0;
	margin: 0;
	float: left;
}
.circleImg {
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}
.content_box_txt {
	width: 75%;
	padding: 0 0 0 4%;
	margin: 0;
	float: left;
}
.step_content_block h3 {
	color: #626262;
	font: 19px/28px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.blue_highlight {
	color: #5ab7ce;
}
.content_box_small_box strong {
	color: #626262;
}
.cont_dash h1, .cont_dash h2, .cont_dash h3, .cont_dash h4, .cont_dash h5, .cont_dash p {
	line-height:124%;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	width: 100%;
}
.cont_dash h1 {
	color: #fb5248;
	/* font-size: 194%; margin: 2% 0%;*/
	font-weight: normal;
	/*edited by Ravinder(9-5-14)*/
	margin: 2% 0% 0% 0%;
	font-size: 2.5em;
}
.cont_dash h2 {
	color: #626262;
	/*margin: 2% 0%;*/
    font-size: 174.5%;
	/*edited by Ravinder(9-5-14)*/
	margin: 0% 0%;
	font-weight: 600;
}
.cont_dash h3 {
	color: #626262;
margin: 0px 0px;
font-size: 173%;
font-weight: 600;
}
.cont_dash h4 {
	margin: 2% 0%;
	color: #a3a3a3;
	font-weight: normal;
	font-size: 116%;
}
.cont_dash h5 {
	margin: 2% 0%;
	display: inline-block;
	color: #929393;
	font-weight: normal;
	font-size: 120%;
}
p.radio i {
	font-style: normal;
display: inline-block;
width: 20%;
}
p.radio {
	font: normal 12px arial;
	margin: 0px !important;
	display: inline-block;
}
p.radio input {
	margin: 0;
	padding: 0;
	float: left;
}
p.radio label {
	display: block;
	float: left;
	margin: 0px 0% 0px 6px;
	cursor: pointer;
	font-size: 105%;
	position: relative;
	top: 12px;
	/*edited by Ravinder(9-5-14)*/
min-width: 125px;
}
p.radio span.radio-container {
	position: relative;
	float: left;
	margin-right: 3px;
	height: 40px;
overflow: hidden;
}
p.radio span.radio-container span.radio {
	display: block;
	width: 24px;
	height: 24px;
	background: url(../img/radio2.png) no-repeat top left;
}
p.radio span.radio-container span.radio.selected {
	background: url(../img/radio2-selected.png) no-repeat top left;
}
p.radio span.radio-container input {
	position: absolute;
	top: 10px;
	left: 20px;
	width: 24px;
	height: 24px;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 101;
	cursor: pointer;
}
.cont_dash p {
color: #626262;
font-size: 122%;
/* margin: 2% 0%; */
margin: 0px 0px 15px 0;
width: 100%;
font-weight: 500;
line-height: 148%;
}
.cont_dash .submit {
	margin: 3% 0%;
}
.cont_dash a {
	background: #f56f6c;
	font-size: 162%;
	color: #fff;
	padding: 1% 3%;
	margin:0 1%;
	display: inline-block;
}
.cont_dash a:hover {
	background: #cccbcb;
	color: #fff;
}
.notice_box {
	width: 100%;
	display: inline-block;
	font-style: italic;
	font-size: 103%;
}
.notice_box textarea {
	width: 100%;
	border: none;
	min-height: 123px;
	-webkit-box-shadow: inset 2px 2px 3px 0px rgba(150, 150, 150, 1);
	-moz-box-shadow: inset 2px 2px 3px 0px rgba(150, 150, 150, 1);
	box-shadow: inset 2px 2px 3px 0px rgba(150, 150, 150, 1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 1%;
	border-radius: 5px;
}

.cont_dash input[type=text] {
	width:97%;
	-webkit-box-shadow: inset 4px 4px 6px 0px rgba(200, 200, 200, 1);
	-moz-box-shadow: inset 4px 4px 6px 0px rgba(200, 200, 200, 1);
	box-shadow: inset 4px 4px 6px 0px rgba(200, 200, 200, 1);
	border: none;
	padding: 1%;
	margin: 2% 0%;
	height: 40px;
}
.dash_nav span.fa {
	padding: 0px 6px;
	font-size: 137%;
}



/*---- END new Dashboard ----*/





@media screen and (min-width:320px) and (max-width:767px) {
#block_div {
width:96%;
padding:3%;
}
.infocontent {
margin:0;
}
.info_block {
}
.info_block h1 {
 font:lighter 24px/30px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.info_tagline {
 font:lighter 17px/24px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.info_section_icon {
 float: left;
 width: 96px;
 margin:0;
}
.infocontent label {
 font: 17px/24px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.infocontent p {
font: 15px/22px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin:0;
}
.percent50 {
 width:100%;
 height:auto;
 padding:0;
 float:left;
}
.radio_block label {
margin:0 0 20px 0;
}
.radio_block {
margin:0 20px 0 0;
}
.action_btn {
 padding: 5px 15px;
 font: 18px/24px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.info_txtfeild {
height:38px;
font:lighter 15px/24px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.notes {
font:lighter 18px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.side-section {
 display: none;
}
.main-wraps {
 width: 100%;
}
.location-head {
 height: 70px;
 line-height: 0px;
 text-align: left;
}
 .location-head p {
 font-size: 123%;
 line-height: normal;
 padding: 14px 0 0;
}
 .acc-name, .location-head {
 text-align: center;
}
 .acc-name p {
 font-size: 167%;
 line-height: normal;
 padding: 19px 0 0 49px;
}
 .acc-name p span {
 display: block;
 font-size: 70%;
}
 .pagination-dashboard-con {
 text-align: center;
 margin: 10px 0px;
}
 .content-wraps-dash li, .content-wraps-dash li img {
 width: 100%;
}
.content_box_small {
 width: 100%;
}
.steps_form {
 text-align: center;
}
.steps_form h1 {
 color: #6A6969;
 font-size: 199%;
}
.steps_form ul li {
 width: 100%;
}
.cont_dash h1 {
 color: #FB5248;
 font-size: 152%;
}
.steps_form ul li {
 font-size: 126%;
}
 .site-footer {
}
.site-footer p {
 display: inline-block;
 margin: 38px 0;
}
 .upload_box {
 margin: 2% 0%;
}
p.radio i {
 display: inline-block;
 width: 100%;
}
 .cont_dash a {
 padding: 2% 7%;
}
 .datepick-month {
 width: 100% !important;
}
.datepick-month-row {
 width: 100%;
}
.datepick {
 width: 100% !important;
}
.upload-main_wrap {
margin: 0px;
padding: 0px;
}
 .content-wraps-dash ul li {
 margin: 1% 0;
}

.active_box {
    width: 100%;
}

.cont_dash .submit {
	margin: 3% 0;
    text-align: center;
	}
.cont_dash a {
    margin: 1% 0;
}
.popup-header, .popup-header .col-xs-12, .popup_content .col-xs-12 {
	text-align:center !important;
	}
.popup_wrapper {
    padding: 3% 0 8%;
}
.popup_content .radio_block {
	float:none;
    text-align: center;
    width: 100%;
}
.popup_content .radio_btn_div {
    margin: 0;
}
.popup_content p {
    font: lighter 119%/140% "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 10% 0;
}

.bridge_form_container {
	width:100%;
	}
.main-wraps .alert-danger {
right:0px;
	}
}
 @media screen and (min-width:768px) and (max-width:889px) {
	 .popup_wrapper {
    width: 93%;
}
.main-wraps .alert-danger {
right:24%;
	}
 .datepick {
width: 40%;
}
 .notice_box {
 margin: 2% 0;
}
 .cont_dash input[type="text"] {
 width: 97%;
}
.site-footer {
}
 .content_box_small {
 width: 100%;
}
 #block_div {
width:96%;
padding:3%;
}
.bridge_form_container {
    float: left;
    width: 85%;
}
.info_block h1 {
 font:lighter 228%/50px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
}
.info_tagline {
 font:lighter 18px/30px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.info_section_icon {
 float: left;
 width: 96px;
 margin:0;
}
.infocontent label {
 font: 24px/24px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.radio_block label {
margin:0 0 20px 0;
}
.infocontent p {
font: 18px/24px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.radio_block {
margin:0 20px 0 0;
}
.action_btn {
 padding: 5px 15px;
 font: 18px/24px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.info_txtfeild {
height:38px;
font:lighter 15px/38px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.notes {
font:lighter 20px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.side-section {
 display: none;
}
.main-wraps {
 width: 100%;
}
.active_box {
    width: 67%;
}
.content-wraps-dash ul li {
    margin: 2px;
    padding: 1%;
}
}
 @media screen and (min-width:890px) and (max-width:1023px) {
.dash_nav ul li a {
 color: #A0A0A0;
 display: inline-block;
 padding: 12px 16px;
}
.content-wraps-dash ul li {
 margin: 1% 0;
}
.datepick {
 width: 40% !important;
}
 .side-section {
 display: none;
}
.main-wraps {
 width: 100%;
}
.active_box {
    width: 67%;
}
.content-wraps-dash ul li {
    margin: 2px;
    padding: 1%;
}
}


 @media screen and (min-width:1024px) and (max-width:1560px) {
.datepick {
 width: 32% !important;
}

}
/*Ritesh*/





.cont_dash select {
	width:97%;
	-webkit-box-shadow: inset 4px 4px 6px 0px rgba(200, 200, 200, 1);
	-moz-box-shadow: inset 4px 4px 6px 0px rgba(200, 200, 200, 1);
	box-shadow: inset 4px 4px 6px 0px rgba(200, 200, 200, 1);
	border: none;
	padding: 1%;
	margin: 2% 0%;
	height: 40px;
}
.btn-design input[type="submit"] {
	background: #f56f6c;
	font-size: 100%;
	color: #fff;
	padding: 0.5% 3%;
	border: none;
	display: inline-block;
}
.counter .right-font {
	font-size: 54px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 5px;
	text-transform: uppercase;
	color: #5fb7cc;
	float: left;
	margin-top: 15px;
}
.counter .right-label {
	position:absolute;
	margin-top:40px;
}
.radio input[type="checkbox"] {
	display: none;
}
.radio input[type="checkbox"]+label {
	background:  url('../img/radio2.png') no-repeat;
	height:30px;
	padding-left: 32px;
}
.radio input[type="checkbox"]:checked + label {
	background: url('../img/radio2-selected.png') no-repeat;
	height:30px;
}
