
/*-- bridge-create_assignment.html --*/
.testStyle
{  position: relative;
	top:-12px;
height: 37px;
font: normal 15px/100% 'ralewayregular';
color: #666;
background: #ededed;
display: inline-block;
line-height: 37px;
width: 90%;
min-width: 112px;
-webkit-box-shadow: 3px 3px 2px 0px rgba(168, 168, 168, 0.78);
-moz-box-shadow: 3px 3px 2px 0px rgba(168, 168, 168, 0.78);
box-shadow: 3px 3px 2px 0px rgba(168, 168, 168, 0.78);
text-align: center;
margin: 8px 0px;
  padding-top: 7px;
  cursor: pointer;
}
.test11
{
-webkit-box-shadow: inset 2px 2px 7px 1px rgba(0, 0, 0, 0.75);
-moz-box-shadow: inset 2px 2px 7px 1px rgba(0, 0, 0, 0.75);
box-shadow: inset 2px 2px 7px 1px rgba(0, 0, 0, 0.75);

}
.test11:hover
{
	cursor: pointer;	
}

.bridge_cr_assignment {
}
.bridge_cr_assignment input[type=text] {
	font:lighter 15px/132% "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
}
.bridge_cr_assignment select {
background: #f0f0f0 !important;
margin: 8px 0px 10px 0px;
height: 38px;
}
.bridge_cr_assignment textarea {
	background:#ededed;
	width:100%;
	float:left;
	min-height:116px;
	border:none;
	font:normal 15px/154% 'ralewayregular';
	padding:10px 14px;
	margin:0px 0px 12px 0px;
}
.box_upload_imge {
	font:normal 15px/154% 'ralewayregular';
}
p.main_heading strong {
	color:#666;
	text-transform:uppercase;
	font:bold 12px/100% 'ralewayregular';
	margin:0px;
	padding:17px 0px 15px 0px;
	display:inline-block;
}
.red_border {
	border:2px solid #bb6a69 !important;
	margin:0px 0px 9px 0px !important;
}
.bridge_cr_assignment p {
	font:normal 15px/100% 'ralewayregular';
	color:#666;
	margin:0px;
	padding:4px 0px 4px 0px;
	display:inline-block;
	width:100%;
}
.box_upload_imge {
	background:#ededed;
	height:128px;
	padding:9px 15px;
	position:relative;
}
.row_full2 {
	width:80%;
	/*padding:41px 0px 0px 0px;*/
	float:left;
}
.upload_box_bridge {
	background:#fff;
	padding:6px;
}
.upload_box_bridge .close_button {
	position: absolute;
	right: -5px;
	top: -2px;
}
.upload_box_bridge .close_button img {
	width:25px;
	height:25px;
}
.image_upload {
	float: left;
	position: relative;
	margin: 6px 4px;
}
.image_upload_add span {
	font-size: 108px;
	line-height: normal;
	margin: 0px 19px;
}
.image_upload img {
	width:96px;
	height:75px;
}
.upload_box_main {
	width: 100%;
	float: left;
	position: absolute;
	top: 0px;
	left: 0px;
}
.image_upload .red_line {
	border-bottom:6px solid #dd484e;
}
.image_upload .green_line {
	border-bottom:6px solid #74dc6c;
}
.buttons_bridge {
	width:100%;
	float:left;
	margin:0px 0px 12px 0px;
}
.buttons_bridge a i {
	color: #f56f6c;
	font-size: 20px;
	margin: 0px 10px 0px 0px;
}
.bridge_cr_assignment .buttons_bridge a {
	height:37px;
	font:normal 15px/100% 'ralewayregular';
	color:#666;
	background:#ededed;
	display:inline-block;
	line-height:37px;
	width:90%;
	min-width:112px;
	-webkit-box-shadow: 3px 3px 2px 0px rgba(168, 168, 168, 0.78);
	-moz-box-shadow: 3px 3px 2px 0px rgba(168, 168, 168, 0.78);
	box-shadow: 3px 3px 2px 0px rgba(168, 168, 168, 0.78);
	text-align:center;
	margin:8px 0px;
}
.double_line_button {
	line-height:normal !important;
}
.main_padding_bridge {
	padding: 19px 0px 5px 0px !important;
	display: inline-block;
}
.bridge_cr_assignment .buttons_bridge a:hover, .activeation {
	-webkit-box-shadow: inset 2px 2px 7px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 2px 2px 7px 1px rgba(0, 0, 0, 0.75);
	box-shadow: inset 2px 2px 7px 1px rgba(0, 0, 0, 0.75);
}
.explanation {
	height:128px;
}
.buttons_bridge span {
	font:normal 14px/100% 'ralewayregular';
	margin: 20px 0px 0px 0px;
	display: inline-block;
	float:left;
	width:118px;
}
.main_bridger p {
	text-align:left;
}
.buttons_bridge .icon1 {
	background:#ededed url(../img/icon_1.png) no-repeat left 12px center !important;
	padding: 0px 0px 0px 16px;
	min-width:112px;
}
.buttons_bridge .icon2 {
	background:#ededed url(../img/icon_2.png) no-repeat left 6px center !important;
	padding: 0px 0px 0px 16px;
	min-width:112px;
}
.buttons_bridge .icon3 {
	background:#ededed url(../img/icon_3.png) no-repeat left 10px center !important;
	padding: 0px 0px 0px 16px;
	min-width:112px;
}
.buttons_bridge .icon4 {
	background:#ededed url(../img/icon_4.png) no-repeat left 7px center !important;
	padding: 0px 0px 0px 34px;
	min-width:112px;
}
.float_right {
	float:right;
}
.float_left {
	float:left;
}
.row_full {
	width:100%;
	float:left;
}
.submit_bridge input {
	background:#5ab7ce;
	border:none;
	color:#fff;
	width:150px;
	height:40px;
	font:normal 13px/100% 'ralewayregular';
}
.trigger_input {
	position:relative;
}
.trigger_input span {
	font:normal 15px/100% 'ralewayregular';
	position: absolute;
	top: 11px;
	left: 6px;
}
.trigger_input input {
	padding:0px 0px 0px 53px;
}

/*-- bridge-edit_account.html --*/

.edit_page .info_txtfeild {
font:normal 15px/132%  'ralewayregular';
height:35px !important;
padding:0px 18px !important;
}
.edit_page .input_replacer {
height:35px !important;
}

.edit_page .desc-brand {
width:100%;
height:50px;
background:#f0f0f0;
border:none;
padding:5px;
font:normal 15px/115% 'ralewayregular';
}

.edit_page .form_format {
font:normal 14px/100% 'ralewayregular';
margin:10px 0px 20px 0px;
}

.edit_page select {

height:35px !important;
}

.edit_page button {
background:#ededed !important;
border:1px solid #d3d1d1;
color:#1d2939  !important;
min-width:120px;
font:normal 17px/100% 'ralewayregular';
}

.edit_page button:hover {
background:#428bca !important;
color:#fff !important;
border:1px solid #357ebd;
}

/*-- Setting page --*/

.setting_page .form_format {
font:normal 14px/100% 'ralewayregular';
margin:10px 0px 20px 0px;
}

.setting_page .info_txtfeild {
font:normal 15px/132%  'ralewayregular';
height:35px !important;
padding:0px 18px !important;
}
.setting_page button {
background:#5ab7ce !important;
border:1px solid #6fd6ef;
color:#fff  !important;
min-width:120px;
font:normal 17px/100% 'ralewayregular';
}

.setting_page button:hover {
background:#ededed !important;
color:#000 !important;
border:1px solid #d3d1d1;
}

 @media screen and (min-width:320px) and (max-width:767px) {
.row_full2 {
width:100%;
}
.image_upload {
 float: left;
 margin: 6px 4px;
 position: relative;
 width:82px;
}
.image_upload_add span {
 font-size: 108px;
 line-height: normal;
 margin: 0 0px;
}
.bridge_cr_assignment .buttons_bridge a {
float:left;
}

.row_full .col-xs-12 {
padding:0px;
}



}
 @media screen and (min-width:768px) and (max-width:1024px) {
.image_upload {
 float: left;
 margin: 6px 1px;
 position: relative;
 width:104px;
}
.image_upload_add span {
 display: inline-block;
 font-size: 78px;
 line-height: normal;
 margin: 19px 0;
}
.row_full2 {
width:100%;
}
 .bridge_cr_assignment .buttons_bridge a {
float:left;
}
}

/*-- bridge-edit_account.html --*/

.edit_page .info_txtfeild {
	font:normal 15px/132% 'ralewayregular';
	height:35px !important;
	padding:0px 18px !important;
}
.edit_page .input_replacer {
	height:35px !important;
}
.edit_page .desc-brand {
	width:100%;
	height:50px;
	background:#f0f0f0;
	border:none;
	padding:5px;
	font:normal 15px/115% 'ralewayregular';
}
.edit_page .form_format {
	font:normal 14px/100% 'ralewayregular';
	margin:10px 0px 20px 0px;
}
.edit_page select {
	height:35px !important;
}
.edit_page button {
	background:#ededed !important;
	border:1px solid #d3d1d1;
	color:#1d2939 !important;
	min-width:120px;
	font:normal 17px/100% 'ralewayregular';
}
.edit_page button:hover {
	background:#428bca !important;
	color:#fff !important;
	border:1px solid #357ebd;
}
   /*-- Submission --*/
.submission_page {
background:#f5f5f5 !important;
}
.selector_box {
	background:#5ab7ce;
	width:100%;
	float:left;
	padding:13px 0px 10px 0px;
	margin:20px 0px;
	min-height:277px;
	position:relative;
}
.selector_box_white {
	background:#fff;
	width:100%;
	float:left;
	padding:13px 0px 10px 0px;
	margin:20px 0px;
	min-height:277px;
	position:relative;
}
.selector_box_red {
	background:#d9534f;
	width:100%;
	float:left;
	padding:13px 0px 10px 0px;
	margin:20px 0px;
	min-height:277px;
	position:relative;
}
.selector_box_white .details_about p {
	color:#1d2939;
}
.details_about {
}
.controler a {
	color:#1d2939;
	padding:4px 0px;
	display:inline-block;
	font:normal 14px/125% 'ralewayregular';
}
.filter_box p strong {
	font:normal 12px/125% 'ralewaybold';
	text-transform:uppercase;
}
.filter_button {
	background:#fff;
	width:100%;
	float:left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.filter_button select {
	height:40px;
	font:normal 15px/125% 'ralewayregular';
	border:none;
}
.details_about p {
	margin:0px;
	color:#fff;
	font:normal 16px/125% 'ralewayregular';
}
.image_cont {
	width:100%;
	float:left;
	text-align:center;
}
.poly-image {
	position:absolute;
	top:0px;
	left:0px;
z-index: 1;
}

/*-- View Account Popup -- */

.popup_main {
position: fixed;
top: 0px;
height: 100%;
width: 100%;
left: 0;
background: #000;
opacity: 0.3;
z-index: 999;
}

.view_account_setup .panel_content {
min-height: 710px;
overflow:visible !important;
}

.popup_contanier {
z-index:1000;
}

.popup_wraps {
background: #fcfcfc;
border: 1px solid #000;
position: absolute;
top: 0px;
left: 0px;
width: 98%;
margin: 0px 0px 0px 1%;
}

.popup_header {

}

.popup_header {
height:43px;
border-bottom:2px solid #ccc;
line-height:43px;
}

.popup_content_main {

}

.single_line {
padding: 8px 0px;
width: 100%;
float: left;
}

.single_line_view {
margin:0px;
padding:0px;
list-style-type:none;
}

.single_line_view li {
float:left;
margin:0px 8px;
height:29px;
line-height:29px;
color:#666;
}
.full_width {
width:100%;
float:left;
}
.single_line_view li i {
color:#f79896;
font-size:19px;
margin:0px 5px 0px 0px;
}
.image_mode {
margin:0px;
padding:0px;
list-style-type:none;
width:100%;
float:left;
text-align:center;
}

.image_mode li {
float:left;
margin:0% 4%;
}

.image_mode li:first-child {
margin-left:0px;
}
.image_mode li:last-child  {
margin-right:0px;
}

.image_mode img {
width:96px;
height:75px;
}

.image_mode span {
display:block;
font:normal 14px/100% 'ralewayregular';
padding:5px 0px;
}

.popup_header {
font:normal 16px/43px 'ralewaymedium';
color:#1d2939;
}
.actualdata {
font:normal 16px/100% 'ralewayregular';
color:#666;
}

.padding_left_first_prod {
padding:0px 0px 0px 16%;
}

.edit_button {
color:#1d2939;
padding:21px 0px;
}
.details_product {
font:normal 16px/18px 'ralewayregular';
}
.single_thread {
font:normal 16px/100% 'ralewayregular';
color:#666;
}

.reward_story {
font:normal 16px/100% 'ralewayregular';
color:#666;
}

.main_image_thread {
font:normal 14px/100% 'ralewayregular';
}

.view_assignemnt_popup p strong {
font:normal 11px/100% 'ralewaybold';
text-transform:uppercase;
color:#aaa7a7;
padding:15px 0px;
display:inline-block;
}
.small_heading_popup {
margin:0px !important;
}


.view_assignemnt_popup .fullcontent {
font:normal 16px/130% 'ralewayregular';
color:#666;
}

.yes_no_button {
margin:0px;
padding:0px;
list-style-type:none;
}
.yes_no_button li {
float:left;
}
.yes_no_button a {
background:#e4e7ea;
font:normal 16px/130% 'ralewayregular';
width:40px;
height:32px;
display:inline-block;
text-align:center;
line-height:32px;
}

.yes_no_button li.yes a {
border:1px solid #5ab7ce;
color:#5ab7ce;
-webkit-border-top-left-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-bottomleft: 3px;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
}

.yes_no_button li.yes a.active, .yes_no_button li.yes a:hover {
background:#5ab7ce;
color:#fff;
}

.yes_no_button li.no a {
border:1px solid #d9534f;
-webkit-border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}
.yes_no_button li.no a.active, .yes_no_button li.no a:hover {
background:#d9534f;
color:#fff;
}
/*-- View Account Popup -- */

.popup_main {
position: fixed;
top: 0px;
height: 100%;
width: 100%;
left: 0;
background: #000;
opacity: 0.3;
z-index: 999;
}

.view_account_setup .panel_content {
min-height: 710px;
overflow:visible !important;
}

.popup_contanier {
z-index:1000;
}

.popup_wraps {
background: #fcfcfc;
border: 1px solid #000;
position: absolute;
top: 0px;
left: 0px;
width: 98%;
margin: 0px 0px 0px 1%;
}

.popup_header {

}

.popup_header {
height:43px;
border-bottom:2px solid #ccc;
line-height:43px;
}

.popup_content_main {

}

.single_line {
padding: 8px 0px;
width: 100%;
float: left;
}

.single_line_view {
margin:0px;
padding:0px;
list-style-type:none;
}

.single_line_view li {
float:left;
margin:0px 8px;
height:29px;
line-height:29px;
color:#666;
}
.full_width {
width:100%;
float:left;
}
.single_line_view li i {
color:#f79896;
font-size:19px;
margin:0px 5px 0px 0px;
}
.image_mode {
margin:0px;
padding:0px;
list-style-type:none;
width:100%;
float:left;
text-align:center;
}

.image_mode li {
float:left;
margin:0% 4%;
}

.image_mode li:first-child {
margin-left:0px;
}
.image_mode li:last-child  {
margin-right:0px;
}

.image_mode img {
width:86px;
height:75px;
}

.image_mode span {
display:block;
font:normal 14px/100% 'ralewayregular';
padding:5px 0px;
}

.popup_header {
ont: 14px/274% 'ralewayregular' !important;
color:#1d2939;
}
.actualdata {
font:normal 16px/100% 'ralewayregular';
color:#666;
}

.padding_left_first_prod {
padding:0px 0px 0px 16%;
}

.edit_button {
color:#1d2939;
padding:21px 0px;
}
.details_product {
font:normal 14px/100% 'ralewayregular';
}
.single_thread {
font:normal 16px/100% 'ralewayregular';
color:#666;
}

.reward_story {
font:normal 16px/100% 'ralewayregular';
color:#666;
}

.main_image_thread {
font:normal 14px/100% 'ralewayregular';
}

.view_assignemnt_popup p strong {
font:normal 11px/100% 'ralewaybold';
text-transform:uppercase;
color:#aaa7a7;
padding:15px 0px;
display:inline-block;
}
.small_heading_popup {
margin:0px !important;
}


.view_assignemnt_popup .fullcontent {
font:normal 14px/100% 'ralewayregular';
color:#666;
}

.yes_no_button {
margin:0px;
padding:0px;
list-style-type:none;
}
.yes_no_button li {
float:left;
}
.yes_no_button a {
background:#e4e7ea;
font:normal 16px/130% 'ralewayregular';
width:40px;
height:32px;
display:inline-block;
text-align:center;
line-height:32px;
}

.yes_no_button li.yes a {
border:1px solid #5ab7ce;
color:#5ab7ce;
-webkit-border-top-left-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-bottomleft: 3px;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
}

.yes_no_button li.yes a.active, .yes_no_button li.yes a:hover {
background:#5ab7ce;
color:#fff;
}

.yes_no_button li.no a {
border:1px solid #d9534f;
-webkit-border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}
.yes_no_button li.no a.active, .yes_no_button li.no a:hover {
background:#d9534f;
color:#fff;
}

/* -- edit_account_popup -- */

.edit_account_popup {

}

.edit_account_popup p strong {
font:normal 11px/100% 'ralewaybold';
text-transform:uppercase;
color:#aaa7a7;
padding:15px 0px;
display:inline-block;
}

.edit_account_popup p {
margin:0px;
}

.edit_account_popup .progress {
	height: 25px;
	margin:0px 0px 8px 0px;
	-webkit-border-radius: 0px !important;
	background:#c7c9c9;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.content_edit_account_popup p {
padding:2px 0px;
font: 14px/100% 'ralewayregular';
}
.content_edit_account_popup p a {
color:#83b2da;
}

.edit_button2 {
font:normal 16px/100% 'ralewayregular';
padding: 21px 0px;
color:#1d2939;
}

 @media screen and (min-width:320px) and (max-width:767px) {
.row_full2 {
width:100%;
}
.image_upload {
 float: left;
 margin: 6px 4px;
 position: relative;
 width:82px;
}
.image_upload_add span {
 font-size: 108px;
 line-height: normal;
 margin: 0 0px;
}
.bridge_cr_assignment .buttons_bridge a {
float:left;
}
 .row_full .col-xs-12 {
padding:0px;
}

.padding_left_first_prod {
padding:0px;

}

.percent50 {
float:left;
width:48%;
}

.account-name {
height:auto !important;
}

}
 @media screen and (min-width:768px) and (max-width:1024px) {
.image_upload {
 float: left;
 margin: 6px 1px;
 position: relative;
 width:104px;
}
.image_upload_add span {
 display: inline-block;
 font-size: 78px;
 line-height: normal;
 margin: 19px 0;
}
.row_full2 {
width:100%;
}
 .bridge_cr_assignment .buttons_bridge a {
float:left;
}


/* --  Dashboard Admin -- */

.main-wraps {
    width: 100%;
}
}
